<!-- <div class="navigation_cont" malihu-scrollbar [scrollbarOptions]="scrollbarOptions"> -->
<ng-scrollbar thumbClass="scroll_002" class="navigation_cont scroll_wrp_002" compact="true">
  <div routerLinkActive="active" routerLink="../dashboard" class="nav_logo">
    <img src="{{basehref}}assets/images/cms_logo.jpg" alt="">
  </div>
  <ul class="nav_items">
    <li class="nav_item" matTooltip="New" matTooltipClass="matTooltip_001" matTooltipPosition="right">     
      <div class="side_nav_active_view" routerLinkActive="active"></div>
      <a mat-button [matMenuTriggerFor]="sideNavMenu">
        <img class="nav_item_img" src="{{basehref}}assets/images/icons/add_icon_001.svg" alt="">
      </a>
    </li>
    <mat-menu #sideNavMenu="matMenu" class="sub_menu_new_drp">
      <button routerLink="./create/new-external-incoming" routerLinkActive="active" mat-menu-item>External
        Incoming</button>
      <button routerLink="./create/new-external-outgoing" routerLinkActive="active" mat-menu-item>External
        Outbound</button>
      <button routerLink="./create/new-internal-outgoing" routerLinkActive="active" mat-menu-item>Internal
        Outbound</button>
    </mat-menu>
    <li class="nav_item" *ngIf="showMR" matTooltip="Mailroom" matTooltipClass="matTooltip_001"
      matTooltipPosition="right">
      <a class="" routerLink="./mailroom" routerLinkActive="active">
        <img class="nav_item_img_001" src="{{basehref}}assets/images/icons/group_message_icon.svg" alt="">
      </a>
    </li>
    <li class="nav_item" matTooltip="External" matTooltipClass="matTooltip_001" matTooltipPosition="right">
      <a class="" routerLink="./external" routerLinkActive="active">
        <img class="nav_item_img_001" src="{{basehref}}assets/images/icons/external_nav_icon.svg" alt="">
      </a>
    </li>
    <li class="nav_item" matTooltip="Internal" matTooltipClass="matTooltip_001" matTooltipPosition="right">
      <a routerLink="./internal" routerLinkActive="active">
        <img class="nav_item_img_001" src="{{basehref}}assets/images/icons/internal_nav_icon.svg" alt="">
      </a>
    </li>
    <!-- <li class="nav_item">
      <a routerlink="external/new" routerLinkActive="active" matTooltip="Mail" matTooltipClass="matTooltip_001" matTooltipPosition="right">
            <img class="nav_item_img_001" src="{{basehref}}assets/images/icons/group_message_icon.svg" alt="">
          </a>
    </li> -->
  </ul>
  <ul class="nav_items_001">
    <li class="nav_item">
      <a class="nav_icon_002" matTooltip="Notification" matTooltipClass="matTooltip_001" matTooltipPosition="right">
        <span class="notif_icon">23</span>
        <img class="nav_item_img_002" src="{{basehref}}assets/images/icons/notification.svg" alt="">
      </a>
    </li>
    <li class="nav_item">
      <a class="nav_icon_002" matTooltip="settings" matTooltipClass="matTooltip_001" matTooltipPosition="right">
        <img class="nav_item_img_002" src="{{basehref}}assets/images/icons/settings.svg" alt="">
      </a>
    </li>
    <li class="nav_item">
      <a class="nav_icon_002" [matMenuTriggerFor]="profailMenu" matTooltip="Profile" matTooltipClass="matTooltip_001" matTooltipPosition="after">
      <app-current-user-photo #currentUserPhoto></app-current-user-photo>
      </a>
    </li>
    <mat-menu #profailMenu="matMenu" yPosition="above" class="main_side_menu">
      <div class="menu_use_user_details">
        <div *ngFor="let user of userData?.LoggedUser">
          <app-user-info [userData]="user" (userChanged)="changePhoto()"></app-user-info>
        </div>
      </div>
      <ng-scrollbar compact="true" thumbClass="scroll_001" class="designation_container scroll_wrp_001 scroll_wrp_003">
        <div class="menu_designation_user_details" *ngFor="let proxy of userData?.ProxyUsers">
          <app-proxy-info [userData]="proxy" (userChanged)="changePhoto()"></app-proxy-info>
        </div>
      </ng-scrollbar>
      <div class="main_menu_btn_wrp">
        <button class="sign_btn_stg">Sign out</button>
      </div>
    </mat-menu>
  </ul>
</ng-scrollbar>