app-administration{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}

.color_003{
  color: #00B7C3;
}

/* .flex-drawer-style-container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.flex-grow-style-container {
  display: flex;
  flex-direction: column;
  height:100%;
}
 */
.main_admin_wrapper{
  padding: 0 42px;
  
  .header_wapper{
    padding-top:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E4E5E7;
    flex-wrap: wrap;
    .breadcrumbs_wapper {
      display: flex;
      margin-bottom: auto;
      margin-top: auto;
      align-items: center;
      height: 32px;
      padding-bottom: 25px;
      a {
        background-image: url(assets/images/icons/arrow_point_icon_001.svg);
        padding-right: 15px;
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: right center;
        margin-right: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        &:not(:last-child){
          color: #00B7C3;
          cursor: pointer;
        }
      }
    }
    .search_wrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 25px;
      .search-header{
        width: 240px;
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D8DADF;
        box-sizing: border-box;
        border-radius: 4px;

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: rgb(185, 176, 176);
          opacity: 1; /* Firefox */
        }
          
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(185, 176, 176);
        }
          
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: rgb(185, 176, 176);
        }
        .search-img{
            width: 20px;
            height: 20px;
            display: block;
            margin: auto;
            cursor: pointer;
            &.glass{
              padding: 5px;
            }
            &.filter{
              padding: 0 10px;
            }
        }
        input{
            height: 30px;
            width: 100%;
            margin: 0 10px;
            border: none;
            outline-width: 0;
        }
      }
      .action-buttons{
        button{
          margin-left: 5px;
          &:first-child{
            margin-left: 15px;
          }
        }
      }
    }
  }

  .filter-wrapper{
    .input_field_wrp {
      margin: 5px 0;
    }
    .mat-expansion-panel-body{
    padding: 0;
      .filter-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 99px;
        min-height: 100px;
        border-bottom: 1px solid #E4E5E7;
        flex-wrap: wrap;
      }
    }
  }
}

.empty-search{
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  height: 100px;
}

.accordion_wrappar{
  margin-top: 25px;
  .admin-accordion{
    .mat-expansion-panel{
      margin: 10px 0;
      box-shadow: none;
      .mat-expansion-panel-header{
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        background: #EDF0F0;
        font-size: 14px;
        .mat-expansion-panel-header-title{
          display: flex;
          align-items: center;
          margin: 0 25px;
        }
      }
      .mat-expansion-panel-content{
        background: #F9F9F9;
        .mat-expansion-panel-body{
          padding: 0 24px 16px;
        }
      }
    }
    .section-header{
      display: flex;
      border-bottom: 1px solid #E4E5E7;;
      h3{
        box-sizing: border-box;
        padding: 15px;
        font-weight: 500;
        font-size: 14px;
        color: #8A7C87;
        &:first-child {
          width: 35%;
        }
      }
    }
    .section-body{
      .paragraph-data{
        display: flex;
        padding: 5px 0;
        .paragraph-name{
          box-sizing: border-box;
          width: 35%;
          font-weight: 500;
          cursor: pointer;
        }
        .paragraph-description{
          padding: 0 15px;
        }
      }
    }
  }
}

.main_admin_wrapper, .dialog-box-wrapper{
  .mat-dialog-container {
    border-radius: 0px !important;
  }
  .table_wrapper{
    &.all-users{
      height: 65vh;
    }
    table{
      word-break: break-word;
    }
    thead{
      th{
        font-weight: bold;
        color: #65676F;
        font-size: 14px;
        border: none;
      }
      .row-action-single-button-wrapper{
        display: flex;
        justify-content: center;
      }
    }
    tbody{
      tr{
        margin: 0 10px;
        background: #F5F5F5;
        height: 52px;
        cursor: pointer;
        &:hover{
          background: #E8F9FA;
        }
        td{
          border-bottom: 10px solid white;
          font-size: 14px;
          color: #65676F;
        }
      }
      .row-action-single-button-wrapper {
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          display: none;
        }
      }
      tr:hover td .row-action-single-button-wrapper a { 
        display:inline-block;
      }
    }
    th, td {
      &:not(:first-child):not(:last-child){
        padding: 0 5px;
      }
      &:first-child{
        padding-left: 24px;
        padding-right: 5px;
      }
      &:last-child{
        padding-left: 5px;
        padding-right: 24px;
      }
      &.check-box {
        width: 40px;
      }
      &.single-action-button{
        width:40px;
      }
      &.email-column{
        width:45%;
        max-width: 45%;
      }
      &.och_roles_action-buttons{
        width: 75px;
      }
    }
    
  }
}

.user-icon{
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 150;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 33px;
  min-height: 33px;
  background-color: #37a0ce;
  p{
    margin: auto;
    vertical-align: middle;
    color: white;
    font-size: 14px;
  }
}

.mat-dialog-content{
  margin:0 !important;
}

.dialog-box-wrapper{
  margin: auto !important;
  padding: 20px;
  .dialog_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    h2{
      font-size: 24px;
      font-weight: normal;
    }
    .close-button{
      cursor: pointer;
    }
  }
  .search-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    .full-search{
      width: 240px;
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #D8DADF;
      box-sizing: border-box;
      border-radius: 4px;

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(185, 176, 176);
        opacity: 1; /* Firefox */
      }
        
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(185, 176, 176);
      }
        
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(185, 176, 176);
      }
      .search-img{
        width: 20px;
        height: 20px;
        display: block;
        margin: auto;
        cursor: pointer;
        &.glass{
          padding: 5px;
        }
        &.filter{
          padding: 0 10px;
        }
      }
      input{
        height: 30px;
        width: 100%;
        margin: 0 10px;
        border: none;
        outline-width: 0;
      }
    }
    .input_field_wrp {
      .mat-form-field-infix {
        width: 230px;
      }
    }
  }
  .table_wrapper{
    margin: 10px;
    padding-left: 20px;
    padding-right: 13px;
    overflow-y: scroll;
    .user-wrapper{
      display: flex;
      .check-box{
        width: 40px;
        padding-left: 24px;
        padding-right: 5px;
      }
      .icon-wrapper{
        padding:5px;
      }
    }
  }
  .dialog-body{
    padding: 0 20px;
    .interaction-list{
      display: flex;
      align-items: center;
      margin: 10px 0;
      h4{
        width: 30%;
        font-size: 14px;
        font-weight: normal;
        color: #65676F;
      }
      .input_field_wrp{
        width:70%;
        .mat-form-field{
          width:100%
        }
      }
      .interaction_items_arr_wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    .message{
      font-size: 16px;
      color: #65676F;
    }
  }
  
  .dialog-footer{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    button.btn_011{
      margin: 0 20px;
    }
  }
}

.spinner-wrappar{
  padding: 100px;
}

.tree-loading-spinner{
  width: 20px !important;
  height:20px !important;
  svg {
    width: 20px !important;
    height:20px !important;
  }
}

.org_chart_tree {
  background-image: url(assets/images/tree_bg.jpg);
  border-radius: 5px;
  overflow: hidden;
  margin: 25px 0;
  .tree_container {

      .node_wrapper_invisible {
          display: none;
      }
      .tree_wrapper {
          display: block;
          width: 100%;
          .full_fill_wrapper {
              .tree_nested_node_child {
                  .tree_wrapper {
                      padding-left: 44px;
                      box-sizing: border-box;
                  }
                  .mat-tree-node.employees_container  {
                      max-height: inherit;
                  }
              }
          }
      }
  }
  .mat-tree {
      background-color: transparent;
      overflow: hidden;
      .show_empl_name_wrp {
          flex: 1 100%;
          .show_empl_name_ul {
              padding: 0;
              margin: 0;
              padding-left: 64px;
              box-sizing: border-box;
          }
          .show_empl_name {
            height: 44px;
            min-height: 44px;
            display: flex;
            align-items: center;
            padding-left: 24px;
            box-sizing: border-box;
          }
      }
  }
  .selectedItem :hover{
      background-color: rgb(108, 226, 181);
  }

  .mat-tree-node {
      min-height: 44px;
      max-height: 44px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .name-wrapper{
        display: flex;
        align-items: center;
      }
      .tree-action-button-wrapper{
        display: flex;
      }
      .hovered {
        display: none;
      }
  }

  .mat-icon-button {
    width: 44px;
    height: 44px;
  }

  .org_icon{
    margin-right: 11px;
  }

  .org_chart_text{
    cursor: pointer/* default */;
  }
  .search-result{
    color: #b04609;
  }
}

.org-chart-wrapper{
  display: flex;
  flex-direction: row;
  //flex-grow: 1;
  .org-chart-block{
    flex: 2;
  }
  .drawer-animation-holder{
    overflow: hidden;
    width: 0px;
    animation: ease-in-out;
    flex: 0 1 0%;
    border-left: 1px solid #E4E5E7;
    .drawer-wrapper{
      padding: 25px;
      padding-right: 0;
    }
    .drawer-header{
      display: flex;
      justify-content: space-between;
      p{
        font-size: 12px;
        color: darkgrey;
      }
      h3{
        font-size: 24px;
        font-weight: normal;
      }
    }
    .drawer-main{
      h3{
        font-size: 24px;
        font-weight: normal;
      }
      .prop-list{
        display: flex;
        flex-direction: row;
        margin: 15px 0;
        h4{
          font-size: 14px;
          color: #65676F;
          font-weight: normal;
          width: 40%;
          padding-right: 5px;
        }
        p{
          font-size: 14px;
          width:60%;
          padding-right: 5px;
          word-break: break-all;
        }
      }
    }
  }
  &.drawer-opened {
    .org-chart-block {
      overflow: auto;
      padding-right: 25px;
    }
  }

}

.input_field_wrp{
  .mat-form-field-invalid.ng-touched{
    .mat-form-field-infix{
      border: 1px solid red;
    }
  }
}
