app-administration{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}

.color_003{
  color: #00B7C3;
}

.main_admin_wrapper{
  padding: 0 42px;
  
  .header_wapper{
    padding-top:40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .breadcrumbs_wapper {
      display: flex; // margin-bottom: 10px;
      margin-bottom: auto;
      margin-top: auto;
      align-items: center;
      p {
        background-image: url(assets/images/icons/arrow_point_icon_001.svg);
        padding-right: 15px;
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: right center;
        margin-right: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
      }
    }
    .search_wrapper{
      display: flex;
      flex-direction: row;
      .search-header{
        width: 240px;
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D8DADF;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 0 15px;

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: rgb(185, 176, 176);
          opacity: 1; /* Firefox */
        }
          
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(185, 176, 176);
        }
          
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: rgb(185, 176, 176);
        }
        .search-img{
            width: 20px;
            height: 20px;
            display: block;
            margin: auto;
            cursor: pointer;
            &.glass{
              padding: 5px;
            }
            &.filter{
              padding: 0 10px;
            }
        }
        .filter-list-img{

        }
        input{
            height: 30px;
            width: 100%;
            margin: 0 10px;
            border: none;
            outline-width: 0;
        }
      }
      .action-buttons{
        button{
          background: #F2F2F2;
          min-width: 110px;
          border: none;
        }
      }
    }
  }

  .accordion_wrappar{
    .admin-accordion{
      .mat-expansion-panel{
        margin: 10px 0;
        box-shadow: none;
        .mat-expansion-panel-header{
          display: flex;
          flex-direction: row-reverse;
          font-weight: bold;
          background: #EDF0F0;
          font-size: 14px;
          .mat-expansion-panel-header-title{
            display: flex;
            align-items: center;
            margin: 0 25px;
          }
        }
        .mat-expansion-panel-content{
          background: #F9F9F9;
          .mat-expansion-panel-body{
            padding: 0 24px 16px;
          }
        }
      }
      .section-header{
        display: flex;
        border-bottom: 1px solid #E4E5E7;;
        h3{
          box-sizing: border-box;
          padding: 15px;
          font-weight: 500;
          font-size: 14px;
          color: #8A7C87;
          &:first-child {
            width: 35%;
          }
        }
      }
      .section-body{
        .paragraph-data{
          display: flex;
          padding: 5px 0;
          .paragraph-name{
            box-sizing: border-box;
            width: 35%;
            font-weight: 500;
            cursor: pointer;
          }
          .paragraph-description{
            padding: 0 15px;
          }
        }
      }
    }
  }
  .empty-search{
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    height: 100px;
  }

  .mat-expansion-panel-body{
    padding: 0;
    .filter-form{
      display: flex;
      flex-direction: row;
      align-content: center;
      .input_filter_wrp{
        width: 200px;
        margin: 0 5px 0 0;
      }
    }
  }

  .table_wrapper{
    
    thead{
      .mat-header-cell{
        font-weight: bold;
        color: #65676F;
        font-size: 14px;
        border: none;
      }
    }
    tbody{
      .mat-row{
        margin: 0 10px;
        background: #F5F5F5;
        height: 60px;
        &:hover{
          background: #E8F9FA;
        }
        .mat-cell{
          border-bottom: 10px solid white;
          font-size: 14px;
          color: #65676F;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }
    
  }
}

.input_filter_wrp {
  .mat-form-field-appearance-legacy {
      .mat-form-field-wrapper {
          padding-bottom: 0;
      }
      .mat-form-field-underline {
          display: none;
      }
      .mat-form-field-infix {
          box-sizing: border-box;
          border: 1px solid #d8dadf;
          padding: 13px 15px 6px 14px;
          border-radius: 4px;
      }
      .mat-form-field-label {
          top: 50%;
          left: 14px;
          margin-top: 0px;
          font-size: 14px;
          font-family: 'Roboto', sans-serif;
          color: #252525;
          font-weight: 400;
      }
      input.mat-input-element {
          margin-top: 6px;
          font-size: 14px;
          color: #252525;
      }
      &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
          transform: translateY(-10px) scale(.75) perspective(100px) translateZ(.001px);
      }
      &.mat-focused {
          .mat-form-field-label {
              color: #00b7c3;
          }
          .mat-form-field-infix {
              border: 1px solid #00b7c3;
          }
      }
  }
  &.sm_input_wrapper .mat-form-field-appearance-legacy .mat-form-field-infix  {
      padding-top: 0px;
  }
}