.sendBackDialogBoxClass
 {
  margin: auto !important;

  .closeButton {
    display: flex;
    flex-direction: row-reverse;

    #close-icon {
      font-weight: 500;
    }

    #close-icon:hover {
      cursor: pointer;
      font-weight: 800;
    }
  }

  .action_header {
    padding: 15px 24px 11px;
    background: #00b7c3;
    color: #fff;
    display: flex;

    .text_16 {
      margin-bottom: 0px;
      color: #fff;
      padding-right: 20px;
    }

    .text_16.err_message {
      color: rgb(255, 60, 1);
    }
  }

  .message-section {
    min-height: 50px;
    padding: 10px;

    .text_16 {
      margin-bottom: 0px;
      color: black;
      padding-right: 20px;
    }

    table.transferReply {
      width: 100%;
      table-layout: fixed;
    }
  }

  table {
    padding: 5px;

    td {
      padding: 5px 10px 5px 10px;
    }

    thead td {
      font-size: 13px;
      font-weight: 600;
      color: #65676f;
    }

    tbody td {
      background: #f5f5f5;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #65676f;
    }

    .input_item_wrp {
      background: white;
    }
  }

  .input_item_wrp .text_area,
  .button-holder {
    margin: 2px;
  }

  .input_item_wrp {
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-7px) scale(0.75) perspective(100px) translateZ(0.001px);
    }

    &.text_area {
      .mat-form-field {
        width: 100%;
      }

      .mat-input-element {
        margin: 5px;
        height: 13px;
      }

      .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        top: 25px;

        button {
          margin-left: 5%;
        }
      }
    }
  }

  .button-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
  }

  .row-section{
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;  
      
    .row-description{
        width:30%;    
    }
    .row-value{
        width:auto;  
    }
  }

  .mat-form-field-infix{
    width: 200px;
  }

  .error-text{
    color:red;
  }
}

.commentsDialogBox, .corres_comnt_area {
  .ng-scroll-view  {
    padding: 0px 0 !important;
    width: 100% !important;
    padding-right: 25px !important;
  }
  .close-button{
      cursor: pointer;
      margin-left: auto;
      margin-right: 0px;
  }

  .input_item_wrp .text_area,
  .button-holder {
    margin: 2px;
  }

  .input_item_wrp {
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-7px) scale(0.75) perspective(100px) translateZ(0.001px);
    }

    &.text_area {
      .mat-form-field {
        width: 98%;
        overflow-y: hidden;
      }

      .mat-input-element {
        margin: 5px;
        height: 13px;
      }

      .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        top: 25px;

        button {
          margin-left: 5%;
        }
      }
    }
  }

  background-color: #f7f7f7;

  .ng-star-inserted{

  background-color: #f7f7f7;
      .mat-tree{
          background-color:#f7f7f7;
      }
  }

  .empty-block{
      text-align: center;
  }

  .tree-holder{
     
      .tree1,.tree2{
          margin: 0px 10px 10px 10px;
          background-color: white;
          border-radius: 10px;
          .line-holder{
          width:100%;
              .comment-infoholder{
                  width:100%;
                  display: flex;
                  flex-direction: row;
                  .button-holder{
                      margin-left: auto;
                      margin-right: 20px;
                      background-color: white;
                  }
              }
          }   
      }
  }
  .addComment{
      transition: max-height 1s ease, opacity 1s ease;
      opacity: 1; 
      max-height: 0;
      overflow: hidden;
      margin-bottom: 10px;
      .replyToComment{
          max-height: 57px;
      }
  } 
  
  .addbutton-hide {
    visibility: hidden;
  }
}

.commentsDialogBox{
  .tree-holder{
    max-height:20vw;
    width:100%;
  }

  .buttonHolder{
    display:flex;
    flex-direction: row-reverse;
    margin:15px 43px 0px 10px;
    .btn_002{
        cursor: pointer;
    }
  }
  .cmntAction{
    background: white;
  }
}

.corres_comnt_area{
  .tree-holder{
    max-height:11.5vw;
  }

  .cmntAction{
    background: white;
  }

  .mat-form-field{
    width:94%;
  }

  .buttonHolder{
    display:flex;
    flex-direction: row-reverse;
    margin-right:67px;
    .btn_002{
        cursor: pointer;
    }
  }
}

.newCommentSection{
  margin: 0px 10px 0px 10px;
  .mat-form-field-infix{
      margin: 10px 0px 10px 0px;
      background-color: white;
  }
  .radio-button{
      margin-left: 10px;
  }
}


.mat-expansion-panel-header{
  height: 18vw;
}

.roleField .mat-form-field-infix{
  border: none !important;
  input{
    margin-top: 0px !important;
  }
}

.transferDialogBoxClass{
  .errormassage{
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: red;
    p{
      margin-top: 10px; 
    }
  }

  .error-in-field{
    border-color: red !important;
  }

  .input_item_wrp{
    .mat-form-field-invalid.ng-touched{
      .mat-form-field-infix{
        border-color:red;
      }
    } 
  }


  .orgstructureError{
    .mat-form-field-infix{
      border-color:red !important;
    }
  } 

  .input_item_wrp .mat-form-field-disabled {
    opacity: 1;
  }
}

.msghide{
  visibility: hidden;
}