<div class="search_wrapper">
  <div class="row_001">
    <div class="input_item_wrp">
      <mat-form-field>
        <input matInput #PWAReference [(ngModel)]="SearchFilterData.ReferenceCode" placeholder="PWA Reference">
      </mat-form-field>
    </div>
    <div class="input_item_wrp">
      <mat-form-field>
        <input matInput [(ngModel)]="SearchFilterData.DocumentNumber" placeholder="Document Number">
      </mat-form-field>
    </div>
    <div class="input_item_wrp mat_chk_wrp">
      <mat-checkbox [(ngModel)]="SearchFilterData.MyAssignments">My Assignments</mat-checkbox>
    </div>
    <div class="input_item_wrp" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field (click)="Datepicker_001.open()">
        <input matInput [(ngModel)]="SearchFilterData.DispatchDateFrom" [matDatepicker]="Datepicker_001" placeholder="Dispatch Date From">
        <mat-datepicker-toggle matSuffix [for]="Datepicker_001" class="date_picker_icon"></mat-datepicker-toggle>
        <mat-datepicker #Datepicker_001></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="input_item_wrp" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field (click)="Datepicker_002.open()">
        <input matInput [(ngModel)]="SearchFilterData.DispatchDateTo" [matDatepicker]="Datepicker_002" placeholder="Dispatch Date To">
        <mat-datepicker-toggle matSuffix [for]="Datepicker_002" class="date_picker_icon"></mat-datepicker-toggle>
        <mat-datepicker #Datepicker_002></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="input_item_wrp" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field>
        <input matInput [(ngModel)]="SearchFilterData.Subject" #Subject placeholder="Subject">
      </mat-form-field>
    </div>
    <div class="input_item_wrp auto_cmplt" *ngIf="_showExtFld" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field>
        <input type="text" [(ngModel)]="SearchFilterData.ExternalOrganization" placeholder="External Organization" [formControl]="ExteranlOrgnizationControl"
          matInput [matAutocomplete]="ExternalOrganization">
      </mat-form-field>
      <mat-autocomplete #ExternalOrganization="matAutocomplete" [displayWith]="displayExtOrgName">
        <mat-option *ngFor="let OrgName of (filteredExtOrgNames | async)?.myRows" [value]="OrgName.ID" autoActiveFirstOption>
          <span>{{ OrgName.Name }}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
    <!-- Vinesh Commented on TBD  -->
    <!-- <div class="input_item_wrp auto_cmplt" *ngIf="_showExtFld" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field>
        <input type="text" [(ngModel)]="SearchFilterData.ExternalDepartment" placeholder="External Department" matInput [matAutocomplete]="ExternalDepartment">
        <mat-autocomplete #ExternalDepartment="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div> -->
    <div class="input_item_wrp auto_cmplt" *ngIf="_showSenderDeptFld" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field>
        <input type="text" [(ngModel)]="SearchFilterData.SenderDepartment" placeholder="Sender Department" matInput [matAutocomplete]="SenderDepartment"
          [formControl]="myControl">
        <mat-autocomplete #SenderDepartment="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
          <mat-option *ngFor="let option of DashboardFilters | attrfilter:'Department':SearchFilterData.SenderDepartment" [value]="option">
            {{option.EN}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="input_item_wrp auto_cmplt" *ngIf="_showRecipientDeptFld" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field>
        <input type="text" [(ngModel)]="SearchFilterData.RecipientDepartment" placeholder="Recipient Department" [formControl]="myControl"
          matInput [matAutocomplete]="RecipientDepartment">
        <mat-autocomplete #RecipientDepartment="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
          <mat-option *ngFor="let option of DashboardFilters | attrfilter:'Department':SearchFilterData.RecipientDepartment" [value]="option">
            {{option.EN}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="input_item_wrp auto_cmplt" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field>
        <input type="text" [(ngModel)]="SearchFilterData.Priority" placeholder="Priority" matInput [matAutocomplete]="Priority" [formControl]="myControl">
        <mat-autocomplete #Priority="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
          <mat-option *ngFor="let option of DashboardFilters | attrfilter:'Priority':SearchFilterData.Priority" [value]="option">
            {{option.EN}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="input_item_wrp auto_cmplt" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'">
      <mat-form-field>
        <input type="text" [(ngModel)]="SearchFilterData.BaseType" placeholder="BaseType" matInput [matAutocomplete]="BaseType" [formControl]="myControl">
        <mat-autocomplete #BaseType="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
          <mat-option *ngFor="let option of DashboardFilters | attrfilter:'BaseType':SearchFilterData.BaseType" [value]="option">
            {{option.EN}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="input_item_wrp">
      <button class="btn_001" (click)="searchDasboardButtonAction()" mat-button>Search</button>
    </div>
  </div>
  <div class="row_001">
    <button (click)="AdvancedSearchButton()" [ngClass]="AdvancedSearch ? 'Active' : 'unActive'" class="btn_002">
          <span class="adv_srch">Advanced Search</span>
          <span class="smp_srch">Simple Search</span>
      </button>
  </div>
</div>
