<div mat-dialog-title class="dialog_header">
  <h2>
    {{header | translator}}
  </h2>
  <mat-icon class="close-button" (click)="closeDialog()">close</mat-icon>
</div>
<form mat-dialog-content [formGroup]="OrgUnitData" class="dialog-body">
  <div *ngFor="let item of interactionStructure" class="interaction-list" [ngSwitch]="item.name">
    <h4>{{item.name | translator}}</h4>
    <div *ngSwitchCase="'type'" class="input_field_wrp sm_input_wrapper">
      <mat-form-field>
        <mat-select formControlName="OUTID">
          <ng-container *ngFor="let elem of data.orgUnitsList">
            <mat-option *ngIf="typeCheck(elem.OUTID)" [value]="elem.OUTID">
              {{elem.Name_EN | translator:elem.Name_AR}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'link_type'" class="input_field_wrp sm_input_wrapper">
      <mat-form-field>
        <mat-select formControlName="LTID">
          <mat-option *ngFor="let elem of data.entityRelationsList" [value]="elem.LTID">
            {{elem.Name_EN | translator:elem.Name_AR}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngSwitchDefault class="input_field_wrp sm_input_wrapper">
      <mat-form-field>
        <input [type]="item.type" matInput [formControlName]="item.controlName" autocomplete="off"
          [maxlength]="item.inputLength">
      </mat-form-field>
    </div>
  </div>
</form>
<div class="dialog-footer">
  <button mat-flat-button class="btn_011" (click)="closeDialog()">{{'cancel' | translator}}</button>
  <button mat-flat-button class="btn_012" (click)="save()">{{'save' | translator}}</button>
</div>