<div class="fileSearch">
  <div *ngIf="folderHierarchy" class="fileSearch-header">
    <div class="hierarchy">
      <mat-form-field style="width:100%">
        <mat-select [formControl]="hierarchy" (selectionChange)="getFolderProperties(hierarchy.value, false)">
          <mat-option *ngFor="let folder of folderHierarchy; let i = index" [value]="folder.DataID"
            style="padding-top:5px !important;padding-bottom:5px !important"><span
              [style.marginLeft]="folder.ParentID == '-1' ? '0' : i*10 + 'px'"></span>
            {{folder.Name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <img *ngIf="folderParent!=='-1'" class="goParentIcon" src="{{basehref}}assets/images/icons/achieved_icon_001.svg"
        alt="" (click)="getFolderProperties(currentReferenceID, true)">
    </div>
    <div class="file_search">
      <input type="text" class="search_input" placeholder="search in folder" [(ngModel)]="searchValue">
      <button class="search-button" [disabled]="activeSearchSpinner" (click)="fileSearch(searchValue)">Search</button>
    </div>
  </div>
  <ng-scrollbar #scrollbarRef thumbClass="scroll_001" compact="true">
    <div *ngIf="activeSearchSpinner" class="search-spinner">
      <mat-spinner class="spinner_lc"></mat-spinner>
    </div>
    <div *ngIf="!activeSearchSpinner" class="table-holder">
      <table mat-table [dataSource]="dataSource" class="fileSearchTable" style="width:100%; max-height: 500px;">
        <ng-container matColumnDef="Select">
          <th mat-header-cell *matHeaderCellDef>
            <!--             <mat-checkbox *ngIf="multiple" (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox> -->
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="changeCheckbox($event, row)"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container *ngFor="let col of FilesTableStructure" [matColumnDef]="col.columnDef">
          <th mat-header-cell *matHeaderCellDef>{{col.columnName}}</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="col.columnDef" [style.width]="col.width + '%'">
            <p *ngSwitchCase="'Type'" [innerHTML]="element.Type"></p>
            <div *ngSwitchCase="'Name'">
              <p *ngIf="element.SubType==='0' else onlyName" (click)="getFolderProperties(element.DataID, false)"
                class="folderName">{{element[col.columnDef]}}</p>
              <ng-template #onlyName>
                <p>{{element[col.columnDef]}}</p>
              </ng-template>
            </div>
            <p *ngSwitchDefault>{{element[col.columnDef]}}</p>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="FilesDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: FilesDisplayedColumns;" style="height:30px"></tr>
      </table>
      <div class="empty-table-message" *ngIf="dataSource?.data.length === 0">No
        records found</div>
    </div>
  </ng-scrollbar>
  <div class="button-holder">
    <button class="btn_004" [disabled]="selection.selected.length === 0" (click)="addFileConnection()">Add</button>
    <button class="btn_004_cancel" (click)="BackToDocList()">Cancel</button>
  </div>
</div>