<div class="dialog-holder">
  <div class="closeButton">
    <!-- <mat-icon title="Close" id="close-icon" (click)="closeDialog()">close</mat-icon> -->
  </div>
  <div class="action_header">
      <p class="text_16 blt_text">Message</p>
  </div>
  <div class="message-section">
    <p class="text_16">{{message}}</p>
  </div>
  <div class="button-section">
    <button  id="no-button" class = "btn_004" [mat-dialog-close]="false">Cancel</button>
    <button  id="yes-button" class = "btn_004" [mat-dialog-close]="true">OK</button>
  </div>
</div> 
