<mat-expansion-panel style="box-shadow:none" class="multiple-approve">
  <mat-expansion-panel-header>
    <div class="icon_wrapper">
      <div class="icon_typ icon_typ_012">
        <img src="{{basehref}}assets/images/icons/approvers.svg" alt="">
      </div>
    </div>
    <p class="title_001">Approvers</p>
  </mat-expansion-panel-header>
  <div *ngIf="firstLoadSpinner" class="spinner_sm_wrappar">
    <mat-spinner class="spinner_sm"></mat-spinner>
  </div>
  <form *ngIf="!firstLoadSpinner" [formGroup]="approverDetailsForm">
    <div class="multiapp_table_wrapper">
      <table class="table" [class]="!sectionDisabled ? 'table-active' : 'table-disabled'">
        <thead>
          <tr>
            <th class="approver">Approver</th>
            <th class="skip-secretary">Skip Secr.</th>
            <th *ngIf="sectionDisabled" class="done">Done</th>
            <th *ngIf="!sectionDisabled" class="delete"></th>
          </tr>
        </thead>
        <tbody>
          <tr formArrayName="approverDetails"
            *ngFor="let approver of approverDetailsForm.get('approverDetails').controls; let i = index;">
            <ng-container [formGroupName]="i">
              <td class="approver" [ngSwitch]="approver.controls.ApproveLevel.value">
                <div *ngSwitchCase="1" style="display:flex">
                  <mat-form-field>
                    <input type="text" placeholder="Project Manager" formControlName="ApproverID" aria-label="Number"
                      matInput [matAutocomplete]="ProjectManagerAuto">
                    <mat-autocomplete #ProjectManagerAuto="matAutocomplete" [displayWith]="displayFieldValue">
                      <mat-option *ngFor="let empName of (filteredNames[i] | async)" [value]="empName"
                        autoActiveFirstOption>
                        {{ empName?.Approver_EN }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div *ngSwitchDefault>
                  <div
                    *ngIf="isSelectApproverStep && currentLevel.ApproveLevel === approver.controls.ApproveLevel.value; else elseBlock">
                    <mat-form-field>
                      <mat-label>{{approver.controls.LevelName_EN.value}}</mat-label>
                      <mat-select [(value)]="approverSelected">
                        <mat-option *ngFor="let approver of ApproverList" [value]="approver.ID">
                          {{approver.Approver_EN}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <ng-template #elseBlock>
                    <div *ngIf="!sectionDisabled">
                      <mat-form-field *ngIf="!approver.controls.SkipSecretary.value">
                        <mat-label>{{approver.controls.LevelName_EN.value}}</mat-label>
                        <mat-select formControlName="SecretaryGroupID">
                          <mat-option
                            *ngFor="let approver of getLevel(approver.controls.ApproveLevel.value).SecretaryGroup"
                            [value]="approver.ID">
                            {{approver.Approver_EN}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field *ngIf="approver.controls.SkipSecretary.value">
                        <mat-label>{{approver.controls.LevelName_EN.value}}</mat-label>
                        <mat-select formControlName="ApproverID">
                          <mat-option
                            *ngFor="let approver of getLevel(approver.controls.ApproveLevel.value).ApproverGroup"
                            [value]="approver.ID">
                            {{approver.Approver_EN}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div *ngIf="sectionDisabled">
                      <mat-form-field *ngIf="!approver.controls.ApproverID.value">
                        <mat-label>{{approver.controls.LevelName_EN.value}}</mat-label>
                        <mat-select formControlName="SecretaryGroupID">
                          <mat-option
                            *ngFor="let approver of getLevel(approver.controls.ApproveLevel.value).SecretaryGroup"
                            [value]="approver.ID">
                            {{approver.Approver_EN}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field *ngIf="approver.controls.ApproverID.value">
                        <mat-label>{{approver.controls.LevelName_EN.value}}</mat-label>
                        <mat-select formControlName="ApproverID">
                          <mat-option
                            *ngFor="let approver of getLevel(approver.controls.ApproveLevel.value).ApproverGroup"
                            [value]="approver.ID">
                            {{approver.Approver_EN}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </ng-template>
                </div>
              </td>
              <td class="skip-secretary">
                <p *ngIf="!sectionDisabled && approver.controls.ApproveLevel.value === 1 " class="select-from-chart"
                  (click)="getOrgChart()">Select</p>
                <mat-checkbox *ngIf="approver.controls.ApproveLevel.value != 1" formControlName="SkipSecretary"
                  (change)="skipChange($event, i)" matTooltip="Skip Secretary">
                </mat-checkbox>
              </td>
              <td *ngIf="sectionDisabled" class="done">
                <mat-icon *ngIf="approver.controls.IsDone.value" class="material-icons approver-marker" matTooltip="Approved by the
                manager">done</mat-icon>
                <mat-icon
                  *ngIf="isApproveStep && !approver.controls.SkipSecretary.value && currentLevel.ApproveLevel === approver.controls.ApproveLevel.value"
                  class="material-icons secr-marker" matTooltip="Processed by the secretary">done</mat-icon>
              </td>
              <td *ngIf="!sectionDisabled" class="delete">
                <button *ngIf="approver.controls.isMandatory.value !== 2" (click)="removeApprover(i)"
                  class="remove_btn_002" mat-button matTooltip="Delete">
                  <img src="{{basehref}}assets/images/icons/remove_icon_001.svg" alt="">
                </button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <button *ngIf="!sectionDisabled" class="show_preview_btn" (click)="addApproverLevel()">
      <img src="{{basehref}}assets/images/icons/plus_green_btn.svg" alt="">
      <span>Add Level</span>
    </button>
  </form>
</mat-expansion-panel>