<div class="transfer_container">
  <div class="transter_header">
    <p class="text_16 blt_text"></p>
    <p class="text_16">Recall Transfer</p>
  </div>
  <div class="transfer_body inbox_table_002">
    <div class="transfer_top_row">
      <div class="transfer_table_row table_wrapper_003">
        <table class="table table_nrml">
          <tr class="no_bg">
            <td></td>
            <td class="">Department</td>
            <td>From</td>
            <td>Role</td>
            <td>Status</td>
            <td></td>
          </tr>
          <tr *ngFor="let item of allTransferedRows " >
            <td></td>
            <!-- Department -->
            <td>{{item.rDepartment_EN}}</td>
            <!-- FROM -->
            <td>{{item.rName_EN}}</td>
            <!-- ROLE -->
            <td>{{item.rRoleName_EN}}</td>
            <!-- Status -->
            <td>{{item.tStatus}}<span *ngIf="item.ShowOpened" [ngClass]="'openedSpan'">(Opened)</span></td>
            <!-- Checkbox -->
            <td>
              <mat-checkbox *ngIf="item.ShowChb"
                [(ngModel)]="item.selectedValue" 
                [checked]="selection.isSelected(item)"
                (change)="$event ? selection.toggle(item) : null"
                (click)="$event.stopPropagation()">
              </mat-checkbox>

            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="transfer_footer">
      <button mat-button class="btn_002 mat-button" (click)="recallDialogBoxClose('cancel')">Cancel</button>
      <button mat-button class="btn_001 mat-button"  (click)="sendRecallRequest()">Recall</button>
    </div>
  </div>
</div>