<div class="new_inbound_container">
  <div class="header_001_wrapper">
    <div class="sub_head_001">
      <P class="heading_001 color_002">Internal</P>
      <P class="heading_001 color_002">Inbound</P>
      <h2 class="heading_001">Archived</h2>
    </div>

    <div class="header_btn_wrp">
      <button matTooltip="Export Dashboard" class="btn_003">
        <img src="{{basehref}}assets/images/icons/excel_white.svg" alt="">
        <p class="text_15">Export</p>
      </button>
    </div>
  </div>
  <app-searchfilter [searchExtOrgFieldShow]="searchExtOrgFieldShow" [searchSenderDeptFieldShow]="searchSenderDeptFieldShow"
    [searchRecipientDeptFieldShow]="searchRecipientDeptFieldShow" (searchDashboardButtonClicked)="onSearchDashboardButtonClick($event)"></app-searchfilter>
  <div class="inbox_table_002">
    <div *ngIf="progbar">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table_wrapper_003" *ngIf="!progbar">
      <table class="table_nrml">
        <thead>
          <tr class="no_bg">
            <td>
<!--               <mat-checkbox (change)="$event ? selectionNewInboxAllCorrespondence() : null" [checked]="selection.hasValue() && selectionNewInboxAll()"
                [indeterminate]="selection.hasValue() && !selectionNewInboxAll()">
              </mat-checkbox> -->
            </td>
            <td>
            </td>
            <td>PWA Reference</td>
            <td>Subject</td>
            <!-- <td>Step</td> -->
            <td>From Dep</td>
            <td>To Dep</td>
            <td>Priority</td>
            <td>Archived Date</td>
            <td></td>
          </tr>
        </thead>
        <tbody class="flex-container flex-column">
          <tr [ngClass]="correspondData.selectedValue ? 'selectedWithCheckbox' : 'unSelected'" *ngFor="let correspondData of correspondenceData | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: pagenumber, totalItems: totalCount }"
            class="mat-row" [class.selected]="correspondData === selectedCorrespondence">
            <td>
      <!--               <mat-checkbox [(ngModel)]="correspondData.selectedValue" [checked]="selection.isSelected(correspondData)"></mat-checkbox>
               (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(correspondData) : null"
                  [checked]="selection.isSelected(correspondData)" [value]='correspondData.inboxCorrespondenceValue' -->
              <mat-checkbox disabled class="disabledInput"></mat-checkbox>								  
            </td>
            <td class="icon_wrapper ">
              <span *ngFor="let inboxCorrespondenceIcons of correspondData.inboxCorrespondenceIcon" [matTooltip]="inboxCorrespondenceIcons.title"
                class="icon_004" [ngClass]="inboxCorrespondenceIcons.active">
                      <img class="inbox_icon_img" [src]="inboxCorrespondenceIcons.icon" alt="">
                  </span>
            </td>
            <td (click)="previewViewWrapper(correspondData)">
              <span class="pwa_btn" (click)="onSelect(correspondData)">
                      {{correspondData.ReferenceNumber}}
                  </span>
            </td>
            <td class="td_002">
              <span class="subject_text_wrpper">{{correspondData.EnglishSubject}}</span>
            </td>
            <!-- <td> {{correspondData.SubWorkTask_Title}} </td> -->

            <td> {{correspondData.FromDepartment}} </td>
            <td> {{correspondData.ToDepartment}} </td>
            <td> {{correspondData.Priority_EN}} </td>
            <td> {{correspondData.PersonalStatusDate | date: 'dd/MM/yyyy HH:mm'}} </td>
            <td class="threr_dote_td">
              <ul class="inbt_icon_wrapper">
                <li class="inbt_icons_wrapper" (click)="onSelect(correspondData)">
                  <button class="inbt_icon_btn" (click)="quickViewWrapper(correspondData)">
                          <img src="{{basehref}}assets/images/icons/info_icon.svg"alt="">
                        </button>
                </li>
                <li class="inbt_icons_wrapper">
                  <button matTooltip="Workflow History" (click)="openDialog(correspondData)" class="inbt_icon_btn">
                    <img src="{{basehref}}assets/images/icons/history.svg"alt="">
                  </button>
                </li>
                <!-- <li class="inbt_icons_wrapper">
                  <button class="inbt_icon_btn">
                          <img src="{{basehref}}assets/images/icons/remove_icon.svg"alt="">
                        </button>
                </li> -->
                <li class="inbt_icons_wrapper" (click)="onSelect(correspondData)">
                  <a class="inbt_icon_btn" matTooltip="Open" (click)="routeToDetailsPage(correspondData)">
                          <img src="{{basehref}}assets/images/icons/external-link.svg"alt="">
                        </a>
                </li>
                <li class="inbt_icons_wrapper" (click)="onSelect(correspondData)">
                  <button class="inbt_icon_btn" (click)="previewViewWrapper(correspondData)">
                          <img src="{{basehref}}assets/images/icons/eye-close-up.svg"alt="">
                        </button>
                </li>
                <li class="inbt_icons_wrapper" *ngIf=(correspondData.showButtons.ShowMore)>
                  <button (click)="onSelect(correspondData)" [matMenuTriggerFor]="options_001" xPosition="after" yPosition="above" mat-button
                    class="dote_btn">
                          <img src="{{basehref}}assets/images/icons/menu.svg" alt="">
                        </button>
                  <mat-menu #options_001="matMenu">
                    <!-- <button mat-menu-item (click)="showWorkflowAudit(correspondData.VolumeID)">Workflow Audit</button> -->
                    <button mat-menu-item (click)="OpenDashCompleteDialog(correspondData, '1')" *ngIf=(correspondData.showButtons.Complete)>Complete</button>
                    <button mat-menu-item (click)="OpenDashCompleteDialog(correspondData, '2')" *ngIf=(correspondData.showButtons.Archive)>Archive</button>
                    <button mat-menu-item (click)="startRecall(correspondData, 'SimpleRecall')" *ngIf=(correspondData.showButtons.Recall)>Recall</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.MRRecall)>MR Recall</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.ReturnToAS)>Returt to AS</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.Copy)>Copy</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.ReplyIntern)>Reply (Internal)</button>
                    <button mat-menu-item (click)='transferReply(correspondData)' *ngIf=(correspondData.showButtons.ReplyTrans)>Reply (Transfer)</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.SaveCorr)>Save Correspondence</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.Delete)>Delete</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.DownloadAttach)>Download Attachments</button>
                    <button mat-menu-item  *ngIf=(correspondData.showButtons.PrintBarcode)>Print Barcode</button>
                  </mat-menu>
                </li> 
              </ul>
              <div class="priview_wrapper" [class.active]="correspondData === previewViewCorrespondence">
                <div class="priview_header">
                  <button class="pre_close" (click)="previewViewWrapper(!correspondData)"><img src="{{basehref}}assets/images/icons/delete-button.svg" alt=""></button>
                  <a (click)="routeToDetailsPage(correspondData)" class="oppr_icon_001">
                          <img matTooltip="Open" src="{{basehref}}assets/images/icons/external-link-white.svg" alt="">
                        </a>
                  <button class="oppr_icon_002" (click)="previewViewWrapper(!correspondData)">
                          <img  matTooltip="Quick view" (click)="quickViewWrapper(correspondData)" src="{{basehref}}assets/images/icons/info_icon-white.svg" alt="">
                        </button>
                  <!-- <div class="table_004_wrapper">
                    <table class="table_004">
                      <tr>
                        <th>From</th>
                        <td>{{correspondData.FromDepartment}}</td>
                      </tr>
                      <tr>
                        <th>To</th>
                        <td>{{correspondData.ToDepartment}}</td>
                      </tr>
                      <tr>
                        <th>Subject</th>
                        <td>{{correspondData.EnglishSubject}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{correspondData.ReceivedDate}}</td>
                      </tr>
                    </table>
                  </div> -->
                </div>
                <div class="documentViewerDiv" *ngFor="let docpreviewData of documentPreviewURL">
                  <iframe class="iframeclass" [src]="docpreviewData.CorrespondencedocumentURL | safe">
                  </iframe>
                </div>
              </div>
              <div class="priview_wrapper qk_view active" [class.active]="correspondData === quickViewCorrespondence">
                <div class="priview_header">
                  <button class="pre_close pre_all_clos" (click)="quickViewWrapper(!correspondData)"><img src="{{basehref}}assets/images/icons/delete-button.svg" alt=""></button>
                  <a matTooltip="Open" (click)="routeToDetailsPage(correspondData)" class="oppr_icon_001">
                            <img src="{{basehref}}assets/images/icons/external-link-white.svg" alt="">
                          </a>
                  <button class="oppr_icon_002" (click)="quickViewWrapper(!correspondData)">
                            <img  matTooltip="Preview" (click)="previewViewWrapper(correspondData)" src="{{basehref}}assets/images/icons/eye-close-up-white.svg" alt="">
                          </button>
                  <p class="heading_001 blt_text mb-4">{{correspondData.EnglishSubject}}</p>
                  <p class="text_16 blt_text">ID</p>
                  <p class="text_16"># {{correspondData.ReferenceNumber}}</p>
                </div>
                <div class="priview_body">
                  <div class="">
                    <!-- <p class="text_16 blt_text">PWA Reference</p>
                    <p class="text_16">{{correspondData.ReferenceNumber}}</p>
                    <p class="text_16 blt_text">Subject</p>
                    <p class="text_16">{{correspondData.EnglishSubject}}</p> -->
                    <p class="text_16 blt_text">Step</p>
                    <p class="text_16">{{correspondData.SubWorkTask_Title}}</p>
                    <p class="text_16 blt_text">External Organization</p>
                    <p class="text_16">{{correspondData.FromDepartment}}</p>
                    <p class="text_16 blt_text">To Department </p>
                    <p class="text_16">{{correspondData.ToDepartment}}</p>
                    <p class="text_16 blt_text">Priority</p>
                    <p class="text_16">{{correspondData.Priority_EN}}</p>
                    <p class="text_16 blt_text">Received Date </p>
                    <p class="text_16">{{correspondData.ReceivedDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">Created Date </p>
                    <p class="text_16">{{correspondData.CorrespondenceDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">Due Date </p>
                    <p class="text_16">{{correspondData.CorrespondenceDueDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">Dispatch Date </p>
                    <p class="text_16">{{correspondData.DispatchDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">Response Due Date </p>
                    <p class="text_16">{{correspondData.ResponseDueDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">Assignee </p>
                    <p class="text_16">{{correspondData.SubWorkTask_PerformerID_Name }}</p>
                    <p class="text_16 blt_text">Correspondenc Type </p>
                    <p class="text_16">{{correspondData.CorrespondenceType_EN }}</p>
                    <p class="text_16 blt_text">Base Type </p>
                    <p class="text_16">{{correspondData.BaseType_EN }}</p>
                    <p class="text_16 blt_text">Purpose</p>
                    <p class="text_16">{{correspondData.ToPurpose }}</p>
                    <p class="text_16 blt_text">Confidential </p>
                    <p class="text_16">{{correspondData.Confidential}}</p>
                    <p class="text_16 blt_text">Document Number </p>
                    <p class="text_16">{{correspondData.DocumentNumber }}</p>
                    <p class="text_16 blt_text">Project </p>
                    <p class="text_16">{{correspondData.ProjectCode }}</p>
                    <p class="text_16 blt_text">Budget </p>
                    <p class="text_16">{{correspondData.BudgetNumber }}</p>
                    <p class="text_16 blt_text">Tender </p>
                    <p class="text_16">{{correspondData.TenderNumber }}</p>
                    <p class="text_16 blt_text">Contract </p>
                    <p class="text_16">{{correspondData.ContractNumber }}</p>
                    <p class="text_16 blt_text">Staff Number </p>
                    <p class="text_16">{{correspondData.StaffNumber }}</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination_warpper">
        <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
      </div>
    </div>
  </div>
</div>
