<div class="input_item_wrp text_area action_container">
  <div class="action_header">
      <p class="text_16 blt_text"></p>
      <p class="text_16">Add comment:</p>
      <p class="text_16 err_message" >{{err}}</p>
  </div>
  <div class="input_item_wrp text_area">
      <mat-form-field>
        <textarea placeholder="Leave a comment" matInput [(ngModel)]="comment"></textarea>
      </mat-form-field>
  </div>
  <div class="button-section">
    <button class = "btn_004" [mat-dialog-close]="true">Cancel</button>
    <button class = "btn_004" (click)="sendStatus('Reload')">Save</button>
  </div>
</div>
 