<div class="new_edt_cont_wrapper" *ngIf="spinnerDataLoaded">
  <mat-spinner></mat-spinner>
</div>
<div class="new_edt_cont_wrapper">
  <ng-scrollbar thumbClass="scroll_001" class="correspondence_detail scroll_wrp_001" *ngIf="expandedRightAction"
    [ngClass]="expandedAction ? 'unActive' : 'ActiveLeft'" compact="true">
    <button (click)="expandeActionLeftButton()" matRipple class="corsp_ext_btn">
      <img src="{{basehref}}assets/images/icons/full-screen.svg" alt="">
    </button>
    <div class="detail_header">
      <div class="header_text" *ngFor="let user of userInfo">
        <div class="header_back_cpd_dtl">
          <button class="back_btn" (click)="backNavigation()">
            <img src="{{basehref}}assets/images/icons/left_arrow.svg" alt="">
          </button>
          <h3 class="text_23 ltg_text">Register External Incoming Correspondence
          </h3>
        </div>
        <div class="user_name">
          <div class="user_img">
            <img src="{{basehref}}assets/images/icons/profile.svg" alt="">
          </div>
          <p class="text_15" *ngFor="let uInfo of user.myRows">{{uInfo.FullName_EN}}</p>
        </div>
      </div>
    </div>

    <form [formGroup]="senderDetailsForm">
      <div class="sender_wrapper corspnt_item">
        <div class="acdn_open_header">
          <div class="icon_wrapper">
            <div class="icon_typ icon_typ_001">
              <img src="{{basehref}}assets/images/icons/sender_mail_icon.svg" alt="">
            </div>
          </div>
          <p class="title_001">Sender</p>
        </div>
        <div class="corres_data_area">
          <div class="corres_table_wrapper">
            <table class="table">
              <tr>
                <th>Organization</th>
                <th>Department</th>
                <th>Name</th>
                <th class="btn_td_wrp"></th>
              </tr>
              <tr>
                <td>
                  <div class="input_item_wrp sm_input_wrapper">
                    <mat-form-field class="input_tbl_wrp">
                      <input type="text" aria-label="Number" matInput formControlName="ExternalOrganization"
                        [matAutocomplete]="extOrgName">
                    </mat-form-field>
                    <mat-autocomplete #extOrgName="matAutocomplete" class="longautocomplete" [displayWith]="displaySearchFilterValueExt">
                      <mat-option *ngFor="let OrgName of (filteredExtOrgNames | async)" [value]="OrgName"
                        (onSelectionChange)="optionSelectionChangeExternal(OrgName, $event)">
                        {{OrgName?.OrgName_En}}
                      </mat-option>
                    </mat-autocomplete>
                  </div>

                </td>
                <td>
                  <div class="input_item_wrp sm_input_wrapper">
                    <mat-form-field class="input_tbl_wrp">
                      <input type="text" aria-label="Number" matInput formControlName="SenderDepartment">
                    </mat-form-field>
                  </div>
                </td>
                <td>
                  <div class="input_item_wrp sm_input_wrapper">
                    <mat-form-field class="input_tbl_wrp">
                      <input type="text" aria-label="Number" matInput formControlName="SenderName">
                    </mat-form-field>
                  </div>
                </td>
                <td class="btn_td_wrp">
                  <button (click)="clearDetails('senderDetailsForm')" class="remove_btn_002" mat-button
                    matTooltip="Clear">
                    <img src="{{basehref}}assets/images/icons/remove_icon_001.svg" alt="">
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <!-- <button (click)="showSenderData()" class="show_preview_btn">
          <img src="{{basehref}}assets/images/icons/change_green_icon.svg" alt="">
          <span>Change sender</span>
        </button> -->
        </div>
      </div>
    </form>
    <form [formGroup]="recipientDetailsForm">
      <div class="recipient_wrapper corspnt_item">
        <div class="acdn_open_header">
          <div class="icon_wrapper">
            <div class="icon_typ icon_typ_002">
              <img src="{{basehref}}assets/images/icons/add-user.svg" alt="">
            </div>
          </div>
          <p class="title_001">Recipient</p>
        </div>
        <div class="corres_data_area">
          <div class="corres_table_wrapper">
            <table class="table">
              <tr>
                <th>Organization</th>
                <th class="department">Department</th>
                <th class="role">Role</th>
                <th>Name</th>
                <th class="btn_td_wrp"></th>
              </tr>
              <tr>
                <td>{{IntRecipientInfo?.OrgName_En}}</td>
                <td>
                  <div class="input_item_wrp sm_input_wrapper">
                    <mat-form-field class="input_tbl_wrp">
                      <input type="text" aria-label="Number" matInput formControlName="RecipientDepartment"
                        [matAutocomplete]="recpientDepName">
                      <mat-autocomplete #recpientDepName="matAutocomplete" class="longautocomplete" [displayWith]="displaySearchFilterValueInt">
                        <mat-option *ngFor="let DepName of (filteredIntDepNames | async)" [value]="DepName"
                          (onSelectionChange)="optionSelectionChangeInternal(DepName, $event)">
                          {{DepName?.DepName_En}} {{ (DepName.SecName_En != null) ? (","+DepName.SecName_En) : "" }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </td>
                <td>{{IntRecipientInfo?.RoleName_En}}</td>
                <td>{{IntRecipientInfo?.Name_En}}</td>
                <td class="btn_td_wrp">
                  <button (click)="clearDetails('recipientDetailsForm')" class="remove_btn_002" mat-button
                    matTooltip="Clear">
                    <img src="{{basehref}}assets/images/icons/remove_icon_001.svg" alt="">
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <button class="show_preview_btn" (click)="showRecipientData()">
            <img src="{{basehref}}assets/images/icons/plus_green_btn.svg" alt="">
            <span>Select Recipient</span>
          </button>
        </div>
      </div>
    </form>
    <div class="corres_acdn_warapper mat_accordion_001">
      <mat-accordion multi="true">
        <form [formGroup]="ccDetailsForm">
          <mat-expansion-panel class="mat-elevation-z bg_001">
            <mat-expansion-panel-header>
              <div class="icon_wrapper">
                <div class="icon_typ icon_typ_003">
                  <img src="{{basehref}}assets/images/icons/crsp_cc_iocn_white.svg" alt="">
                </div>
              </div>
              <p class="title_001">CC</p>
            </mat-expansion-panel-header>
            <div class="corres_data_area">
              <div *ngIf="ccProgbar" class="spinner_sm_wrappar">
                <mat-spinner class="spinner_sm"></mat-spinner>
              </div>
              <div *ngIf="!ccProgbar" class="corres_table_wrapper">
                <table class="table">
                  <tr>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Name</th>
                    <th class="btn_td_wrp"></th>
                  </tr>
                  <tbody>
                    <tr formArrayName="CCDetails"
                      *ngFor="let cc of ccDetailsForm.get('CCDetails').controls; let i = index;">
                      <ng-container>
                        <td>
                          {{cc.controls.departmentName.value}}</td>
                        <td>
                          {{cc.controls.role.value}}</td>
                        <td>
                          {{cc.controls.name.value}}</td>
                        <td class="btn_td_wrp">
                          <button (click)="removeCC(i)" class="remove_btn_002" mat-button matTooltip="Clear">
                            <img src="{{basehref}}assets/images/icons/remove_icon_001.svg" alt="">
                          </button>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button class="show_preview_btn" (click)="showCCData()">
                <img src="{{basehref}}assets/images/icons/plus_green_btn.svg" alt="">
                <span>Select CC</span>
              </button>
            </div>
          </mat-expansion-panel>
        </form>

        <mat-expansion-panel class="mat-elevation-z ">
          <mat-expansion-panel-header>
            <div class="icon_wrapper">
              <div class="icon_typ icon_typ_004">
                <img src="{{basehref}}assets/images/icons/crsp_icon_white.svg" alt="">
              </div>
            </div>
            <p class="title_001">Correspondence</p>
          </mat-expansion-panel-header>
          <div class="corres_data_area">
            <div *ngIf="coverProgbar" class="spinner_sm_wrappar">
              <mat-spinner class="spinner_sm"></mat-spinner>
            </div>
            <div *ngIf="!coverProgbar" class="corres_fld_wrapper">
              <form class="cust_row" [formGroup]="correspondenceDetailsForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="col_6">
                  <input matInput placeholder="Reg Date" formControlName="regDate">
                </mat-form-field>
                <div class="doc_date_wrp col_6">
                  <mat-form-field class="">
                    <!-- [(ngModel)]="curDocDate" [ngModelOptions]="{standalone: true}"  -->
                    <input matInput placeholder="Doc Date" [owlDateTimeTrigger]="docDate" [owlDateTime]="docDate"
                      autocomplete="off" formControlName="docsDate">
                    <owl-date-time [pickerType]="'calendar'" #docDate></owl-date-time>
                  </mat-form-field>
                  <mat-checkbox formControlName="confidential">Confidential</mat-checkbox>
                </div>

                <mat-form-field class="col_6">
                  <input type="text" [(ngModel)]="PriorityVal" placeholder="Priority" matInput
                    [matAutocomplete]="Priority" formControlName="priority">
                  <mat-autocomplete #Priority="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
                    <mat-option *ngFor="let option of MetadataFilters | attrfilter:'Priority':PriorityVal"
                      [value]="option">
                      {{option.EN}}

                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>


                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="Ref Number" formControlName="refNumber"
                    [ngClass]="{ 'is-invalid': submitted && f.refNumber.errors }" required>
                  <mat-error *ngIf="submitted && f.refNumber.errors">Please enter Ref number</mat-error>
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="Personal Name" formControlName="personalName">
                  <!-- <mat-error *ngIf="submitted && f.personalName.errors">Please enter Personal Name</mat-error> -->
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="ID Number" formControlName="idNumber"
                    [ngClass]="{ 'is-invalid': submitted && f.IDNumber.errors }">
                  <!-- <mat-error *ngIf="submitted && f.IDNumber.errors">Please enter ID</mat-error> -->
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input type="text" [(ngModel)]="CorrespondenceTypeVal" placeholder="Correspondence Type" matInput
                    [matAutocomplete]="CorrespondenceType" formControlName="correspondenceType">
                  <mat-autocomplete #CorrespondenceType="matAutocomplete" [displayWith]="displayFn"
                    autoActiveFirstOption>
                    <mat-option
                      *ngFor="let option of MetadataFilters | attrfilter:'CorrespondenceType':CorrespondenceTypeVal"
                      [value]="option">
                      {{option.EN}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!-- <mat-form-field class="col_6">
                  <mat-label>Correspondence Type</mat-label>
                  <mat-select [(value)]="selectedCorrespondenceType" formControlName="correspondenceType">
                    <mat-option value="test 1">test 1</mat-option>
                    <mat-option value="test 2">test 2</mat-option>
                    <mat-option value="test 3">test 3</mat-option>
                    <mat-option value="test 4">test 4</mat-option>
                    <mat-option value="test 5">test 5</mat-option>
                  </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col_6">
                  <input type="text" [(ngModel)]="BaseTypeVal" placeholder="Base Type" matInput
                    [matAutocomplete]="BaseType" formControlName="baseType">
                  <mat-autocomplete #BaseType="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
                    <mat-option *ngFor="let option of MetadataFilters | attrfilter:'BaseType':BaseTypeVal"
                      [value]="option">
                      {{option.EN}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!-- <mat-form-field class="col_6">
                  <mat-label>Base Type</mat-label>
                  <mat-select [(value)]="selectedBaseType" formControlName="baseType">
                    <mat-option value="test 1">test 1</mat-option>
                    <mat-option value="test 2">test 2</mat-option>
                    <mat-option value="test 3">test 3</mat-option>
                    <mat-option value="test 4">test 4</mat-option>
                    <mat-option value="test 5">test 5</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <mat-form-field class="col_12">
                  <input matInput autocomplete="off" placeholder="Arabic Subject" formControlName="arabicSubject">
                </mat-form-field>
                <mat-form-field class="col_12">
                  <input matInput autocomplete="off" placeholder="English Subject" formControlName="englishSubject">
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="Project Code" formControlName="projectCode">
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="Budget Number" formControlName="budgetNumber">
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="Contract Number" formControlName="contractNumber">
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="Tender Number" formControlName="tenderNumber">
                </mat-form-field>
                <mat-form-field class="col_6" disabled>
                  <input matInput autocomplete="off" placeholder="Corr Number" formControlName="corrNumber">
                </mat-form-field>
                <mat-form-field class="col_6">
                  <input type="text" [(ngModel)]="FillingPlanPathVal" placeholder="Filling Plan Path" matInput
                    [matAutocomplete]="FillingPlanPath" formControlName="fillinPlanPath">
                  <mat-autocomplete #FillingPlanPath="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
                    <mat-option *ngFor="let option of MetadataFilters | attrfilter:'FillingPlanPath':FillingPlanPathVal"
                      [value]="option">
                      {{option.EN}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!-- <mat-form-field class="col_6">
                  <mat-label>Fillin Plan Path</mat-label>
                  <mat-select [(value)]="selectedFillinPlanPath" formControlName="fillinPlanPath">
                    <mat-option value="test 1">test 1</mat-option>
                    <mat-option value="test 2">test 2</mat-option>
                    <mat-option value="test 3">test 3</mat-option>
                    <mat-option value="test 4">test 4</mat-option>
                    <mat-option value="test 5">test 5</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <mat-form-field class="col_6">
                  <input type="text" [(ngModel)]="DispatchMethodVal" placeholder="Dispatch Method" matInput
                    [matAutocomplete]="DispatchMethod" formControlName="dispatchMethod">
                  <mat-autocomplete #DispatchMethod="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
                    <mat-option *ngFor="let option of MetadataFilters | attrfilter:'DispatchMethod':DispatchMethodVal"
                      [value]="option">
                      {{option.EN}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!-- <mat-form-field class="col_6">
                  <mat-label>Dispatch Method</mat-label>
                  <mat-select [(value)]="selectedDispatchMethod" formControlName="dispatchMethod">
                    <mat-option value="test 1">test 1</mat-option>
                    <mat-option value="test 2">test 2</mat-option>
                    <mat-option value="test 3">test 3</mat-option>
                    <mat-option value="test 4">test 4</mat-option>
                    <mat-option value="test 5">test 5</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <mat-form-field class="col_6">
                  <input matInput autocomplete="off" placeholder="Staff Number" formControlName="staffNumber">
                </mat-form-field>
              </form>
            </div>
          </div>
        </mat-expansion-panel>


        <mat-expansion-panel class="mat-elevation-z bg_001">
          <mat-expansion-panel-header>
            <div class="icon_wrapper">
              <div class="icon_typ icon_typ_005">
                <img src="{{basehref}}assets/images/icons/cover-document.svg" alt="">
              </div>
            </div>
            <p class="title_001">Cover</p>
          </mat-expansion-panel-header>
          <div class="corres_data_area">
            <ul class="cl_btn_group">
              <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_001" (click)="refreshCoverSection()">
                  <img src="{{basehref}}assets/images/icons/refresh_arrow_white.svg" alt="">
                </button>
              </li>
              <li class="cl_btn_wrp">
                <div class="image-upload">

                  <label for="file-input" class="cl_btn cl_btn_002" matTooltip="Add document">
                    <img src="{{basehref}}assets/images/icons/cl_file_add_doc.svg" alt="">
                  </label>
                  <!-- <button class="cl_btn cl_btn_002" for="file-input" matTooltip="Add document">                 
                    <img src="{{basehref}}assets/images/icons/cl_file_add_doc.svg" alt="">
                </button> -->
                  <input id="file-input" type="file"
                    (change)="uploadCSDocument($event.target.files,corrFolderData.AttachCorrCoverID,'COVER')" />
                </div>
              </li>
              <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_003" matTooltip="Enterprise Connect">
                  <img src="{{basehref}}assets/images/icons/scanner_white.svg" alt="">
                </button>
              </li>
              <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_004" matTooltip="Scan">
                  <img src="{{basehref}}assets/images/icons/search_icon_004.svg" alt="">
                </button>
              </li>
            </ul>
            <div *ngIf="coverProgBar" class="spinner_sm_wrappar">
              <mat-spinner class="spinner_sm"></mat-spinner>
            </div>
            <div *ngIf="!coverProgBar" class="corres_table_wrapper">
              <table class="table table_cover_letter">
                <tr>
                  <th class="type">Type</th>
                  <th class="name">Name</th>
                  <th></th>
                  <th class="size">Size</th>
                  <!-- <th class="modified">Modified</th> -->
                </tr>
                <tbody *ngFor="let correspondenceCoverDetails of CoverLetterData">
                  <tr *ngFor="let coverLetterData of correspondenceCoverDetails.myRows">
                    <td class="size_45" [innerHtml]="coverLetterData.CoverType">
                    <td class="name">
                      <a class="coverLink"
                        (click)="getCoverDocumentURL(coverLetterData.Dataid)">{{coverLetterData.Name}}
                      </a>
                    </td>
                    <td>
                      <div class="group_btn">
                        <!-- <a matTooltip="Print" class="btn btn_006" href="#">
                              <img src="{{basehref}}assets/images/icons/printer-tool.svg" alt="">
                            </a> -->
                        <a matTooltip="Download" class="btn btn_006" href="{{CSUrl}}{{coverLetterData.DownloadURL}}">
                          <img src="{{basehref}}assets/images/icons/download-to-storage-drive.svg" alt="">
                        </a>
                        <a matTooltip="Properties" class="btn btn_006"
                          (click)=showActionProperties(coverLetterData.Dataid)>
                          <img src="{{basehref}}assets/images/icons/info-round-button.svg" alt="">
                        </a>
                        <a *ngIf="coverLetterData.deleteperm=='TRUE'" matTooltip="Delete" class="btn btn_006"
                          (click)="deleteDocument(coverLetterData.Dataid,'COVER')">
                          <img src="{{basehref}}assets/images/icons/remove_icon_001.svg" alt="">
                        </a>
                      </div>
                    </td>
                    <td class="size">
                      {{coverLetterData.CoverSize}}
                    </td>
                    <!-- <td class="modified">
                      {{coverLetterData.ModifyDate}}
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-expansion-panel>


        <mat-expansion-panel class="mat-elevation-z">
          <mat-expansion-panel-header>
            <div class="icon_wrapper">
              <div class="icon_typ icon_typ_006">
                <img alt="" src="{{basehref}}assets/images/icons/attachment.svg">
              </div>
            </div>
            <p class="title_001">Attachments</p>
          </mat-expansion-panel-header>
          <div class="corres_data_area">
            <ul class="cl_btn_group">
              <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_001" (click)="refreshAttachmentSection()">
                  <img src="{{basehref}}assets/images/icons/refresh_arrow_white.svg" alt="">
                </button>
              </li>
              <li class="cl_btn_wrp">

                <div class="image-upload">

                  <label for="file-inputAttachment" class="cl_btn cl_btn_002" matTooltip="Add document">
                    <img src="{{basehref}}assets/images/icons/cl_file_add_doc.svg" alt="">
                  </label>
                  <input id="file-inputAttachment" type="file"
                    (change)="uploadCSDocument($event.target.files,corrFolderData.AttachCorrAttachmentsID,'ATTACHMENT')" />
                </div>
              </li>
              <!-- <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_005" matTooltip="Add folder">
                    <img src="{{basehref}}assets/images/icons/folder.svg" alt="">
                  </button>
              </li> -->
              <!-- <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_003" matTooltip="Scan">
                    <img src="{{basehref}}assets/images/icons/scanner_white.svg" alt="">
                  </button>
              </li>
              <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_006" matTooltip="Scan">
                    <img src="{{basehref}}assets/images/icons/connection.svg" alt="">
                  </button>
              </li>
              <li class="cl_btn_wrp">
                <button class="cl_btn cl_btn_004" matTooltip="Scan">
                    <img src="{{basehref}}assets/images/icons/search_icon_004.svg" alt="">
                  </button>
              </li> -->
            </ul>
            <div *ngIf="ccProgbar" class="spinner_sm_wrappar">
              <mat-spinner class="spinner_sm"></mat-spinner>
            </div>
            <div *ngIf="!ccProgbar" class="corres_table_wrapper">
              <table class="table table_cover_letter">
                <tr>
                  <th class="type">Type</th>
                  <th class="name">Name</th>
                  <th></th>
                  <!-- <th class="size">Size</th> -->
                  <!-- <th class="modified">Modified</th> -->
                </tr>
                <tbody *ngFor="let corrAttachmentDetails of AttachmentFolderData">
                  <tr *ngFor="let attachmentData of corrAttachmentDetails.myRows">
                    <td class="size_45" [innerHtml]="attachmentData.attachmentType">
                    </td>
                    <td>
                      <a class="coverLink" (click)="getCoverDocumentURL(attachmentData.Dataid)">{{attachmentData.Name}}
                      </a>
                    </td>
                    <td>
                      <div class="group_btn">
                        <!-- <button matTooltip="Print" class="btn btn_006">
                              <img src="{{basehref}}assets/images/icons/printer-tool.svg" alt="">
                            </button> -->
                        <a matTooltip="Download" class="btn btn_006" href="{{CSUrl}}{{attachmentData.DownloadURL}}">
                          <img src="{{basehref}}assets/images/icons/download-to-storage-drive.svg" alt="">
                        </a>
                        <a matTooltip="Properties" class="btn btn_006"
                          (click)=showActionProperties(attachmentData.Dataid)>
                          <img src="{{basehref}}assets/images/icons/info-round-button.svg" alt="">
                        </a>
                        <a *ngIf="attachmentData.deleteperm=='TRUE'" matTooltip="Delete" class="btn btn_006"
                          (click)="deleteDocument(attachmentData.Dataid,'ATTACHMENT')">
                          <img src="{{basehref}}assets/images/icons/remove_icon_001.svg" alt="">
                        </a>
                      </div>
                    </td>
                    <!-- <td> {{attachmentData.AttachmentSize}} </td> -->
                    <!-- <td> {{attachmentData.ModifyDate}} </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- start -->
            <div class="drop_file_wrp">
              <ngx-file-drop dropZoneLabel="Drop files here"
                (onFileDrop)="dropped($event,corrFolderData.AttachCorrAttachmentsID,'ATTACHMENT')"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                contentClassName="attachementdraganddrop">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  You can drag & drop files here
                </ng-template>
              </ngx-file-drop>
            </div>
            <!-- end -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!-- cc code end -->
    <div class="corp_dtl_btn_btm_wrapper">
      <button *ngIf="showGeneratebarcodeButton" class="btn_008" (click)="GenerateBarcode()"
        prevent-double-submit>Generate Barcode</button>      
      <button *ngIf="showSendOnButton" class="btn_008" printTitle="Barcode" printSectionId="print-section"
        ngxPrint>Print Barcode</button>
      <button *ngIf="showSendOnButton" class="btn_008" printTitle="Reciept" printSectionId="print-reciept"
        ngxPrint>Print Reciept</button>
      <button *ngIf="showSendOnButton" class="btn_008" (click)="SendOnWF('SENDON')" prevent-double-submit>Send
        On</button>
      <button *ngIf="showSendOnButton" class="btn_008" (click)="SendOnWF('SAVE')" prevent-double-submit>Save</button>

      <button class="btn_008" (click)="backNavigation()">Cancel</button>
      <!-- <button class="btn_008" (click)="backNavigation()">Back</button> -->
      <button (click)="expandeActionLeftButton()" matRipple class="corsp_ext_btn">
        <img src="{{basehref}}assets/images/icons/full-screen.svg" alt="">
      </button>
    </div>

    <div id="print-section" style="display:none">
      <span style="font-weight:bold;text-align :center;margin-left:15%">Public Works Authority</span><br>
      <span style="font-weight:bold;text-align :center;margin-left:20%">{{barcodeDate}}</span>
      <ngx-barcode [bc-value]="barcodeNumberToPrint" [bc-format]="CODE128" [bc-display-value]="true" [bc-font-size]="36"
        [bc-font]="Arial" [bc-text-margin]="5" [bc-height]="55"></ngx-barcode>
    </div>

    <div id="print-reciept" style="display:none">

      <head>
        <meta charset="UTF-8">
      </head>

      <body>
        <table border="0" cellpadding="0" cellspacing="0" style="left: 0px; top: 0px; width: 100%;">
          <tbody>
            <tr>
              <td width="50"><img border="0" src="{{basehref}}assets/images/headerbar_content_server_pwa.png"
                  style="width: 100px; height: 66px;" width="48"></td>
              <td width="150"></td>
              <td class="data-trn"
                style="font-weight: bold; font-size: 42px;text-align: left; vertical-align: middle !important;">RECEIPT
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
        <table border="0" cellpadding="0" cellspacing="0" style="left: 0px; top: 0px; width: 100%;">
          <tbody>
            <tr>
              <td>Date of Receipt:</td>
              <td>{{barcodeDate}}</td>
            </tr>
            <tr>
              <td>Correspondence Code:</td>
              <td>{{barcodeNumberToPrint}}</td>
            </tr>
        </table><br>
        <ngx-barcode [bc-value]="barcodeNumberToPrint" [bc-format]="CODE128" [bc-display-value]="true"
          [bc-font-size]="36" [bc-font]="Arial" [bc-text-margin]="5" [bc-height]="55"></ngx-barcode>
      </body>
    </div>


  </ng-scrollbar>
  <ng-scrollbar class="correspondence_deatil_prview_wrappper scroll_wrp_001" thumbClass="scroll_001"
    [ngClass]="expandedRightAction ? 'unActive' : 'ActiveRight'" *ngIf="expandedAction" compact="true">
     <button (click)="expandeActionRightButton()" matRipple class="corsp_ext_btn">
              <img src="{{basehref}}assets/images/icons/full-screen.svg" alt="">
            </button>
    <ng-container *ngIf="showPreviewCoverLetter">
      <div class="documentViewerDiv" *ngFor="let docpreviewData of documentPreviewURL">
        <iframe class="iframeclass" [src]="docpreviewData.CorrespondencedocumentURL|safe"></iframe>
      </div>
    </ng-container>


    <div *ngIf="showPreviewTreeArea">
      <div class="spinner_sm_wrappar" *ngIf="dataSource.data.length == 0"
        style="display: flex;height: calc(100vh - 100px);">
        <mat-spinner class="spinner_sm"></mat-spinner>
      </div>
      <h3 class="org_chrt_head" *ngIf="!dataSource.data.length == 0">Select {{selectedCaption}} From Organizational
        Chart
      </h3>
      <div class="org_cht_header" *ngIf="!dataSource.data.length == 0">
        <div class="search_wrapper">
          <input class="org_search" type="text" placeholder="ASHGAL Public Work authority" #organizationalChartSearch
            (keyup.enter)="searchTreeValue(organizationalChartSearch.value)">
          <button (click)="searchTreeValue(organizationalChartSearch.value)" class="search_btn"></button>
        </div>
        <div class="right_org_head">
          <mat-checkbox class="chk_emply" [(ngModel)]="showEmployees">Show Employees</mat-checkbox>
          <button mat-button class="btn_001" (click)="getSelectedIntDepartment()">Add</button>
        </div>
      </div>
      <div class="cover_ltr_pre" *ngIf="!dataSource.data.length == 0">
        <!-- single check box tree strt -->
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree_container"
          [ngClass]="{'show_employees': showEmployees, 'hide_employess':!showEmployees }">
          <mat-tree-node *matTreeNodeDef="let node" class="employees_wrapper">
            <div class="main_tree_wrapper">
              <div class="mat-tree-node">
                <div class="tree_icn_wrp flex_empl_wrp">
                  <button mat-icon-button matTreeNodeToggle class="emp_sho_btn" (click)="getEmplDetail(node)">
                    <mat-icon class="mat-icon-rtl-mirror show_employees_data_btn"
                      [ngClass]="{'activeIcon' : treeControl.isExpanded(node)}">
                      <!--   -->
                      {{treeControl.isExpanded(node) ? 'fiber_manual_record' : 'fiber_manual_record'}}
                    </mat-icon>
                  </button>
                  <mat-checkbox *ngIf="!multiSelect" (change)="selectSinglCheckboxOrg(node,$event)"
                    [checked]="currentlyChecked == node">
                    <!-- (change)="getOrgSelectDetail(node)"  -->
                    <div class="org_text_wrp">
                      <div class="org_icon_wrp folder">
                        <img class="org_img_001" src="{{basehref}}assets/images/icons/folder_001.svg" alt="">
                      </div>
                      <p class="org_chart_text">{{node.Name}}</p>
                    </div>
                  </mat-checkbox>
                  <mat-checkbox *ngIf="multiSelect" (change)="selectSinglCheckboxOrg(node,$event)">
                    <div class="org_text_wrp">
                      <div class="org_icon_wrp folder">
                        <img class="org_img_001" src="{{basehref}}assets/images/icons/folder_001.svg" alt="">
                      </div>
                      <p class="org_chart_text">{{node.Name}}</p>
                    </div>
                  </mat-checkbox>
                </div>
              </div>
              <div *ngIf="showEmployees" class="show_empl_name_wrp">
                <ul *ngIf="treeControl.isExpanded(node)" class="show_empl_name_ul">
                  <!-- add the employee List here  -->
                  <!-- <mat-spinner></mat-spinner>
                  {{ emplist | json}}
                  <li *ngFor="let e of emplist">
                    e.EName
                  </li> -->
                  <ng-container *ngIf="showempDetails">
                    <li class="show_empl_name" *ngFor="let empList of employeeMap |employeemaplist:node.OUID">
                      <mat-checkbox *ngIf="!multiSelect" (change)="selectSinglCheckboxEmp(empList,$event)"
                        [checked]="currentlyChecked == empList">
                        <div class="org_text_wrp">
                          <div class="org_icon_wrp user">
                            <img class="org_img_001" src="{{basehref}}assets/images/icons/user.svg" alt="">
                          </div>
                          <p class="org_chart_text">{{empList?.Coev_Firstname}} {{empList?.Coev_LastName}}</p>
                        </div>
                      </mat-checkbox>
                      <mat-checkbox *ngIf="multiSelect" (change)="selectSinglCheckboxEmp(empList,$event)">
                        <div class="org_text_wrp">
                          <div class="org_icon_wrp folder">
                            <img class="org_img_001" src="{{basehref}}assets/images/icons/user.svg" alt="">
                          </div>
                          <p class="org_chart_text">{{empList?.Coev_Firstname}} {{empList?.Coev_LastName}}</p>
                        </div>
                      </mat-checkbox>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </mat-tree-node>
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" class="main_tree_wrapper">
            <!--  -->
            <div class="full_fil_wrapper">
              <div class="mat-tree-node">
                <div class="tree_icn_wrp">
                  <div class="{{node.employees_status}}">
                    <button *ngIf="node.children.length > 0" mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.Name" (click)="getEmplDetail(node)">
                      <mat-icon class="mat-icon-rtl-mirror" [ngClass]="{'activeIcon' : treeControl.isExpanded(node)}">
                        <!-- {{treeControl.isExpanded(node) ? 'fiber_manual_record' : 'fiber_manual_record'}} -->
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                  </div>
                  <mat-checkbox *ngIf="!multiSelect" (change)="selectSinglCheckboxOrg(node,$event)"
                    [checked]="currentlyChecked == node">
                    <div class="org_text_wrp">
                      <div class="org_icon_wrp folder">
                        <img class="org_img_001" src="{{basehref}}assets/images/icons/folder_001.svg" alt="">
                      </div>
                      <p class="org_chart_text">{{node.Name}}</p>
                    </div>
                  </mat-checkbox>
                  <mat-checkbox *ngIf="multiSelect" (change)="selectSinglCheckboxOrg(node,$event)">
                    <div class="org_text_wrp">
                      <div class="org_icon_wrp folder">
                        <img class="org_img_001" src="{{basehref}}assets/images/icons/folder_001.svg" alt="">
                      </div>
                      <p class="org_chart_text">{{node.Name}}</p>
                    </div>
                  </mat-checkbox>
                </div>
              </div>

              <div *ngIf="showEmployees" class="show_empl_name_wrp">
                <ul *ngIf="treeControl.isExpanded(node)" class="show_empl_name_ul">              
                  <ng-container *ngIf="showempDetails">
                    <li class="show_empl_name" *ngFor="let empList of employeeMap |employeemaplist:node.OUID">
                      <mat-checkbox *ngIf="!multiSelect" (change)="selectSinglCheckboxEmp(empList,$event)"
                        [checked]="currentlyChecked == empList">
                        <div class="org_text_wrp">
                          <div class="org_icon_wrp user">
                            <img class="org_img_001" src="{{basehref}}assets/images/icons/user.svg" alt="">
                          </div>
                          <p class="org_chart_text">{{empList?.Coev_Firstname}} {{empList?.Coev_LastName}}</p>
                        </div>
                      </mat-checkbox>
                      <mat-checkbox *ngIf="multiSelect" (change)="selectSinglCheckboxEmp(empList,$event)">
                        <div class="org_text_wrp">
                          <div class="org_icon_wrp folder">
                            <img class="org_img_001" src="{{basehref}}assets/images/icons/user.svg" alt="">
                          </div>
                          <p class="org_chart_text">{{empList?.Coev_Firstname}} {{empList?.Coev_LastName}}</p>
                        </div>
                      </mat-checkbox>
                    </li>
                  </ng-container>
                </ul>
              </div>

              <div [class.node_wrapper_invisible]="!treeControl.isExpanded(node)"
                class="tree_nested_node_child hide_employess">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </div>
          </mat-nested-tree-node>
        </mat-tree>
      </div>
    </div>

  </ng-scrollbar>
</div>
