.profile_wrapper {
    width: 100%;
    // display: flex;
    border-radius: 4px;
    .profile_header {
        background: #00b7c3;
        padding: 15px 25px;
        display: flex;
        .profile_header_text {
            font-size: 16px;
            color: #ffffff;
            margin: 0 auto 0 0;
        }
        .profile_btn {
            padding: 0;
            border: none;
            margin: 0 0 0 auto;
            background: transparent;
            outline: none;
            img {
                max-width: 20px;
            }
        }
    }
    .profile_contant_wrapper {
        // padding: 15px 25px;
        display: flex;
        .profile_general_wrp {
            width: 315px;
            padding: 25px;
            background: #fff;
            .user_profile_details {
                .user_profile_img_wrp {
                    width: 132px;
                    height:132px;
                    border-radius: 66px;
                    overflow: hidden;
                    position: relative;
                    margin: auto;
                    .profile_dp_edit {
                        width: 100%;
                        display: block;
                        padding: 10px 20px;
                        background: rgba(0, 0, 0, 0.8);
                        color: #FFF;
                        position: absolute;
                        bottom: 0;
                        box-sizing: border-box;
                        font-size: 12px;
                        text-align: center;
                    }
                    .profile_dp_input {
                        display: none;
                    }
                    .user_profile_img {
                        width: 100%;
                    }
                }
                .profile_user_detail {
                    padding-top: 25px;
                    text-align: center;
                    .text_14 {
                        margin-bottom: 10px;
                    }
                    .title_001 {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .profile_group_wrp {
            width: calc(100% - 315px);
            padding: 35px 30px;
            background: #f4f4f4;
            .profile_group_header {
                position: relative;
                display: inline-block;
                .group_number {
                    border-radius: 50%;
                    background-color: #ed5454;
                    position: absolute;
                    right: -18px;
                    top: -6px;
                    width: 17px;
                    height: 17px;
                    font-size: 10px;
                    text-align: center;
                    color: #fff;
                    line-height: 18px;
                }
            }
            .search_wrppaer {
                padding-top: 15px;
                .search_box {
                    border: 1px solid #d8dadf;
                }
            }
            .group_list_item_wrapper {
                margin: 0;
                padding:25px 0;
                display: flex;
                flex-wrap: wrap;
                .group_list_icom {
                    border-radius: 50%;
                    width: 27px;
                    height: 27px;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    position: relative;
                    z-index: 150;
                    margin-top: auto;
                    margin-bottom: auto;
                    min-width: 27px;
                    min-height: 27px;
                    margin-right: 15px;
                    background: #00b7c3;
                    margin-right: 15px;
                }
                .group_list_item {
                    width: 50%;
                    display: flex;
                    font-size: 13px;
                    margin-bottom: 20px;
                    span {
                        margin:auto 0;
                    }
                }
            }
        }
    }
}