<div class="main_area_wrapper with_menu" [ngClass]="menuAction ? 'without_submenu' : 'with_submenu'">
  <div class="menu_wrapper" malihu-scrollbar [scrollbarOptions]="scrollbarOptions" [ngClass]="menuAction ? 'unActive' : 'Active'">
    <button class="menu_btn_wrapper" (click)="menuActionButton()">
    <img
      class="menu_arow_icon_001"
      src="{{basehref}}assets/images/icons/arrow_point_icon_001.svg"
      alt=""
    />
  </button>
    <div class="menu_item_active">
      <p class="text_12">INBOUND</p>
      <ul class="menu_item_wrapper" *ngFor="let menuItem of menuItems">
        <li class="menu_item" *ngFor="let inbound of menuItem.inbounds">
          <a class="color_001 text_14" [routerLink]="[inbound.router]" routerLinkActive="sideNavActive">
          <img class="menu_img_001" [src]="basehref+inbound.icon" alt="" />
          <span class="menu_text_001">{{ inbound.Title }}</span>
          <span class="menu_nubr">{{ inbound.Count }}</span>
        </a>
        </li>
      </ul>
      <p class="text_12">OUTBOUND</p>
      <ul class="menu_item_wrapper" *ngFor="let menuItem of menuItems">
        <li class="menu_item" *ngFor="let outbound of menuItem.outbounds">
          <a class="color_001 text_14" [routerLink]="[outbound.router]" routerLinkActive="sideNavActive">
          <img class="menu_img_001" [src]="basehref+outbound.icon" alt="" />
          <span class="menu_text_001">{{ outbound.Title }}</span>
          <span class="menu_nubr">{{ outbound.Count }}</span>
        </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main_cnt_area">
    <!-- malihu-scrollbar [scrollbarOptions]="scrollbarOptions" -->
    <router-outlet></router-outlet>
  </div>
</div>
