<div class="new_inbound_container">
  <div class="header_001_wrapper">
    <div class="sub_head_001" #corrHeader>
      <P class="heading_001 color_002">{{'internal' | translator}}</P>
      <P class="heading_001 color_002">{{'outbound' | translator}}</P>
      <h2 class="heading_001">{{'wip' | translator}}</h2>
      <p class="heading_001 color_002" *ngIf="isProxy">({{globalConstants.general.UserName}})</p>
    </div>
    <div class="header_btn_wrp">
      <button [matTooltip]="'export_dashboard' | translator" class="btn_003" (click)="ExportDashboard()"
        [disabled]="expButton">
        <img src="{{basehref}}assets/images/icons/excel_white.svg" alt="">
        <p class="text_15">{{'export' | translator}}</p>
      </button>
    </div>
  </div>
  <app-searchfilter [searchExtOrgFieldShow]="searchExtOrgFieldShow"
    [searchSenderDeptFieldShow]="searchSenderDeptFieldShow"
    [searchRecipientDeptFieldShow]="searchRecipientDeptFieldShow"
    (searchDashboardButtonClicked)="onSearchDashboardButtonClick($event)"></app-searchfilter>
  <div class="inbox_table_002">
    <div *ngIf="progbar">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table_wrapper_003" *ngIf="!progbar">
      <table class="table_nrml">
        <thead>
          <tr class="no_bg">
            <td>
              <!--             <mat-checkbox (change)="$event ? selectionNewInboxAllCorrespondence() : null" [checked]="selection.hasValue() && selectionNewInboxAll()"
                [indeterminate]="selection.hasValue() && !selectionNewInboxAll()">
              </mat-checkbox> -->
            </td>
            <td>
            </td>
            <td>{{'tbl_reference'| translator}}</td>
            <td>{{'tbl_subject'| translator}}</td>
            <td>{{'step' | translator}}</td>
            <td>{{'tbl_fromdepartment'| translator}}</td>
            <td>{{'tbl_todepartment'| translator}}</td>
            <td>{{'tbl_priority'| translator}}</td>
            <td>{{'receivedDate' | translator}}</td>
            <td></td>
          </tr>
        </thead>
        <tbody class="flex-container flex-column">
          <tr [ngClass]="correspondData.selectedValue ? 'selectedWithCheckbox' : 'unSelected'"
            *ngFor="let correspondData of correspondenceData | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: pagenumber, totalItems: totalCount }"
            class="mat-row {{CorrBacklight(correspondData, false)}}"
            [class.selected]="correspondData === selectedCorrespondence">
            <td>
              <!--               <mat-checkbox [(ngModel)]="correspondData.selectedValue" [checked]="selection.isSelected(correspondData)"></mat-checkbox>
              (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(correspondData) : null"
                  [checked]="selection.isSelected(correspondData)" [value]='correspondData.inboxCorrespondenceValue' -->
              <mat-checkbox disabled class="disabledInput"></mat-checkbox>
            </td>
            <td class="icon_wrapper ">
              <span *ngFor="let inboxCorrespondenceIcons of correspondData.inboxCorrespondenceIcon"
                [matTooltip]="inboxCorrespondenceIcons.title" class="icon_004"
                [ngClass]="inboxCorrespondenceIcons.active">
                <img class="inbox_icon_img" [src]="inboxCorrespondenceIcons.icon" alt=""
                  (click)="correspondenceIconsFunction(correspondData,inboxCorrespondenceIcons.runfunc)">
              </span>
            </td>
            <td (click)="previewViewWrapper(correspondData)">
              <span class="pwa_btn" (click)="onSelect(correspondData)">
                {{correspondData.ReferenceNumber}}
              </span>
            </td>
            <td class="td_002">
              <span
                class="subject_text_wrpper">{{correspondData.EnglishSubject | translator:correspondData.ArabicSubject}}</span>
            </td>
            <td> {{correspondData.SubWorkTask_Title}} </td>

            <td> {{correspondData.FromDepartment | translator:correspondData.SenderDepartment_AR }} </td>
            <td> {{correspondData.ToDepartment | translator:correspondData.RecipientDepartment_AR}} </td>
            <td> {{correspondData.Priority_EN | translator:correspondData.Priority_AR}} </td>
            <td> {{correspondData.ReceivedTaskDate | date: 'dd/MM/yyyy HH:mm'}} </td>
            <td class="threr_dote_td">
              <ul class="inbt_icon_wrapper">
                <li class="inbt_icons_wrapper" (click)="onSelect(correspondData)">
                  <button class="inbt_icon_btn" (click)="quickViewWrapper(correspondData)">
                    <img src="{{basehref}}assets/images/icons/info_icon.svg" alt="">
                  </button>
                </li>
                <li class="inbt_icons_wrapper">
                  <button [matTooltip]="'workflow_history' | translator" (click)="openDialog(correspondData)"
                    class="inbt_icon_btn">
                    <img src="{{basehref}}assets/images/icons/history.svg" alt="">
                  </button>
                </li>
                <!-- <li class="inbt_icons_wrapper">
                  <button class="inbt_icon_btn">
                          <img src="{{basehref}}assets/images/icons/remove_icon.svg"alt="">
                        </button>
                </li> -->
                <li class="inbt_icons_wrapper" (click)="onSelect(correspondData)">
                  <a class="inbt_icon_btn" [matTooltip]="'open' | translator"
                    (click)="routeToDetailsPage(correspondData)">
                    <img src="{{basehref}}assets/images/icons/external-link.svg" alt="">
                  </a>
                </li>
                <li class="inbt_icons_wrapper" (click)="onSelect(correspondData)">
                  <button class="inbt_icon_btn" (click)="previewViewWrapper(correspondData)">
                    <img src="{{basehref}}assets/images/icons/eye-close-up.svg" alt="">
                  </button>
                </li>
                <li class="inbt_icons_wrapper" *ngIf=(correspondData.showButtons.ShowMore)>
                  <button (click)="onSelect(correspondData)" [matMenuTriggerFor]="options_001" xPosition="after"
                    yPosition="above" mat-button class="dote_btn">
                    <img src="{{basehref}}assets/images/icons/menu.svg" alt="">
                  </button>
                  <mat-menu #options_001="matMenu">
                    <!-- <button mat-menu-item (click)="showWorkflowAudit(correspondData.VolumeID)">Workflow Audit</button> -->
                    <button mat-menu-item (click)="OpenDashCompleteDialog(correspondData, '1')"
                      *ngIf=(correspondData.showButtons.Complete)>{{'actbtn_complete'| translator}}</button>
                    <button mat-menu-item (click)="OpenDashCompleteDialog(correspondData, '2')"
                      *ngIf=(correspondData.showButtons.Archive)>{{'actbtn_archive'| translator}}</button>
                    <button mat-menu-item (click)="startRecall(correspondData, 'SimpleRecall')"
                      *ngIf=(correspondData.showButtons.Recall)>{{'actbtn_recall'| translator}}</button>
                    <button mat-menu-item
                      *ngIf=(correspondData.showButtons.MRRecall)>{{'actbtn_mrrecall'| translator}}</button>
                    <button mat-menu-item
                      *ngIf=(correspondData.showButtons.ReturnToAS)>{{'actbtn_returntoas'| translator}}</button>
                    <button mat-menu-item *ngIf=(correspondData.showButtons.Copy)>{{'actbtn_copy'| translator}}</button>
                    <button mat-menu-item
                      *ngIf=(correspondData.showButtons.ReplyIntern)>{{'actbtn_replyinternal'| translator}}</button>
                    <button mat-menu-item (click)='transferReply(correspondData)'
                      *ngIf=(correspondData.showButtons.ReplyTrans)>{{'actbtn_replytransfer'| translator}}</button>
                    <button mat-menu-item
                      *ngIf=(correspondData.showButtons.SaveCorr)>{{'actbtn_savecorr'| translator}}</button>
                    <button mat-menu-item
                      *ngIf=(correspondData.showButtons.Delete)>{{'actbtn_delete'| translator}}</button>
                    <button mat-menu-item *ngIf=(correspondData.showButtons.DownloadAttach)
                      (click)="downloadAttachmentsDialogBox(correspondData)">{{'actbtn_downattachments'| translator}}</button>
                    <button mat-menu-item
                      *ngIf=(correspondData.showButtons.PrintBarcode)>{{'actbtn_printbcode'| translator}}</button>
                  </mat-menu>
                </li>
              </ul>
              <div class="priview_wrapper" [class.active]="correspondData === previewViewCorrespondence">
                <div class="priview_header">
                  <button class="pre_close" (click)="previewViewWrapper(!correspondData)"><img
                      src="{{basehref}}assets/images/icons/delete-button.svg" alt=""></button>
                  <a (click)="routeToDetailsPage(correspondData)" class="oppr_icon_001">
                    <img [matTooltip]="'open' | translator"
                      src="{{basehref}}assets/images/icons/external-link-white.svg" alt="">
                  </a>
                  <button class="oppr_icon_002" (click)="previewViewWrapper(!correspondData)">
                    <img [matTooltip]="'quick_view' | translator" (click)="quickViewWrapper(correspondData)"
                      src="{{basehref}}assets/images/icons/info_icon-white.svg" alt="">
                  </button>
                  <!-- <div class="table_004_wrapper">
                    <table class="table_004">
                      <tr>
                        <th>From</th>
                        <td>{{correspondData.FromDepartment}}</td>
                      </tr>
                      <tr>
                        <th>To</th>
                        <td>{{correspondData.ToDepartment}}</td>
                      </tr>
                      <tr>
                        <th>Subject</th>
                        <td>{{correspondData.EnglishSubject}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{correspondData.ReceivedDate}}</td>
                      </tr>
                    </table>
                  </div> -->
                </div>
                <div class="documentViewerDiv" *ngFor="let docpreviewData of documentPreviewURL">
                  <iframe class="iframeclass" [src]="docpreviewData.CorrespondencedocumentURL | safe">
                  </iframe>
                </div>
              </div>
              <div class="priview_wrapper qk_view active" [class.active]="correspondData === quickViewCorrespondence">
                <div class="priview_header">
                  <button class="pre_close pre_all_clos" (click)="quickViewWrapper(!correspondData)"><img
                      src="{{basehref}}assets/images/icons/delete-button.svg" alt=""></button>
                  <a [matTooltip]="'open' | translator" (click)="routeToDetailsPage(correspondData)"
                    class="oppr_icon_001">
                    <img src="{{basehref}}assets/images/icons/external-link-white.svg" alt="">
                  </a>
                  <button class="oppr_icon_002" (click)="quickViewWrapper(!correspondData)">
                    <img [matTooltip]="'preview' | translator" (click)="previewViewWrapper(correspondData)"
                      src="{{basehref}}assets/images/icons/eye-close-up-white.svg" alt="">
                  </button>
                  <p class="heading_001 blt_text mb-4">
                    {{correspondData.EnglishSubject | translator:correspondData.ArabicSubject}}</p>
                  <p class="text_16 blt_text">{{'id_number' | translator}}</p>
                  <p class="text_16"># {{correspondData.ReferenceNumber}}</p>
                </div>
                <div class="priview_body">
                  <div class="">
                    <!-- <p class="text_16 blt_text">Reference</p>
                    <p class="text_16">{{correspondData.ReferenceNumber}}</p>
                    <p class="text_16 blt_text">Subject</p>
                    <p class="text_16">{{correspondData.EnglishSubject}}</p> -->
                    <p class="text_16 blt_text">{{'step' | translator}}</p>
                    <p class="text_16">{{correspondData.SubWorkTask_Title}}</p>
                    <p class="text_16 blt_text">{{'external_organization' | translator}}</p>
                    <p class="text_16">
                      {{correspondData.FromDepartment | translator: correspondData.SenderDepartment_AR}}</p>
                    <p class="text_16 blt_text">{{'to_department' | translator}}</p>
                    <p class="text_16">
                      {{correspondData.ToDepartment | translator:correspondData.RecipientDepartment_AR}}</p>
                    <p class="text_16 blt_text">{{'priority' | translator}}</p>
                    <p class="text_16">{{correspondData.Priority_EN | translator:correspondData.Priority_AR}}</p>
                    <p class="text_16 blt_text">{{'receivedDate' | translator}}</p>
                    <p class="text_16">{{correspondData.ReceivedDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">{{'tbl_createddate' | translator}}</p>
                    <p class="text_16">{{correspondData.CorrespondenceDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">{{'due_date' | translator}}</p>
                    <p class="text_16">{{correspondData.CorrespondenceDueDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">{{'dispatch_date' | translator}}</p>
                    <p class="text_16">{{correspondData.DispatchDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">{{'response_due_date' | translator}}</p>
                    <p class="text_16">{{correspondData.ResponseDueDate | date: 'dd/MM/yyyy HH:mm' }}</p>
                    <p class="text_16 blt_text">{{'assignee' | translator }} </p>
                    <p class="text_16">{{correspondData.SubWorkTask_PerformerID_Name }}</p>
                    <p class="text_16 blt_text">{{'correspondence_type' | translator}}</p>
                    <p class="text_16">
                      {{correspondData.CorrespondenceType_EN | translator:correspondData.CorrespondenceType_AR}}</p>
                    <p class="text_16 blt_text">{{'base_type' | translator}}</p>
                    <p class="text_16">{{correspondData.BaseType_EN | translator:correspondData.BaseType_AR }}</p>
                    <p class="text_16 blt_text">{{'purpose' | translator}}</p>
                    <p class="text_16">{{correspondData.ToPurpose }}</p>
                    <p class="text_16 blt_text">{{'confidential' | translator}} </p>
                    <p class="text_16">{{correspondData.Confidential}}</p>
                    <p class="text_16 blt_text">Document Number </p>
                    <p class="text_16">{{correspondData.DocumentNumber }}</p>
                    <p class="text_16 blt_text">{{'project_code' | translator}} </p>
                    <p class="text_16">{{correspondData.ProjectCode }}</p>
                    <p class="text_16 blt_text">{{'budget_number' | translator}}</p>
                    <p class="text_16">{{correspondData.BudgetNumber }}</p>
                    <p class="text_16 blt_text">{{'tender_number' | translator}} </p>
                    <p class="text_16">{{correspondData.TenderNumber }}</p>
                    <p class="text_16 blt_text">{{'contract_number' | translator}} </p>
                    <p class="text_16">{{correspondData.ContractNumber }}</p>
                    <p class="text_16 blt_text">{{'staff_number'| translator}} </p>
                    <p class="text_16">{{correspondData.StaffNumber }}</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination_warpper">
        <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
      </div>
    </div>
  </div>
</div>