<ng-scrollbar thumbClass="scroll_002" class="navigation_cont scroll_wrp_002"  compact="true" style="height: 390px;">
<div class="sm_popup_wrapper">
  <p class="text_23">New Delegations</p>
  <form [formGroup]="delegationFrom" >
      <div class="proxy_fld_wrapper" *ngFor="let Delegatee of getDelegateeFormControls(); let i = index">
        <mat-form-field class="proxy_fld">
          <input type="text" placeholder="Proxy User (Delegatee)" aria-label="Number" matInput [formControl]="delegationProxy" [matAutocomplete]="auto" value="nameProxyUser">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-radio-button value="nameProxyUser" class="custm_radio">Active</mat-radio-button>
        <button (click)="removeDelegatee(i)" class="remove_btn_002 mat-button" mat-button=""  *ngIf="i != 0">
          <img alt="" src="assets/images/icons/remove_icon_001.svg">
        </button>
      </div>
    <button class="show_preview_btn"  (click)="addDelegatee()">
      <img alt="" src="assets/images/icons/plus_green_btn.svg">
      <span>Add Delegatee</span>
    </button>
    <div class="new_delegation_date_wrp">
        <mat-form-field class="col_6 odd">
            <input matInput autocomplete="off" (focus)="startDate.open()" [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate" required>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col_6 evn">
            <input matInput autocomplete="off" placeholder="Start Time"  formControlName="startTime" required  [owlDateTimeTrigger]="startTime" [owlDateTime]="startTime">
            <owl-date-time [pickerType]="'timer'" #startTime></owl-date-time>
        </mat-form-field>
        <mat-form-field class="col_6 odd">
            <input matInput autocomplete="off" (focus)="endDate.open()" [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate" required>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col_6 evn">
            <input matInput autocomplete="off" placeholder="End Time" formControlName="endTime" required [owlDateTimeTrigger]="endTime" [owlDateTime]="endTime">
            <owl-date-time [pickerType]="'timer'" #endTime></owl-date-time>
        </mat-form-field>
    </div>
    <div class="deleg_btn_wrapper">
        <button (click)='delegationDialogClose()' class="btn_008">Cancel</button>
        <button class="btn_009">Save</button>
    </div>
  </form>
</div>
</ng-scrollbar>