<div class="main_admin_wrapper">
    <div #header (resized)="onResized($event)">
        <div class="header_wapper">
            <app-breadcrumbs></app-breadcrumbs>
            <div class="search_wrapper">
                <div class="search-header">
                    <img src="{{basehref}}assets/images/icons/search.svg" class="search-img glass"
                        (click)="applyMainFilter()">
                    <input type="text" [placeholder]="'search' | translator" #searchString
                        (keyup.enter)="applyMainFilter()">
                </div>
                <div class="action-buttons">
                    <button class="btn_011 long-name" mat-stroked-button
                        (click)="showHideEmployees()">{{possibleAction}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-with-drawer-wrapper" [class.drawer-opened]="detailState === 'in'"
        [ngStyle]="{'height': 'calc(100vh - ' + headerHeight + 'px)'}">
        <app-orgmd-chart class="org-chart-block" [maxUnitLevel]="maxUnitLevel"
            (openUnitDetailsOutput)=showUnitDetails($event) (editOrgUnitOutput)=editOrgUnit($event)
            (addOrgUnitOutput)=addOrgUnit($event) (deleteOrgUnitOutput)=deleteOrgUnit($event)
            (employeesOutput)=employeesActions($event) (openUserDetailsOutput)=showUserDetails($event)
            (rolesOutput)=unitRoles($event)>
        </app-orgmd-chart>
        <div class="drawer-animation-holder" [@slideInOut]="detailState" [ngSwitch]="true">
            <div class="drawer-wrapper" *ngSwitchCase="!!sideInfoItem">
                <div class="drawer-header">
                    <p>{{'org_unit' | translator}}</p>
                    <div class="actions-wrapper">
                        <a matTooltip="Edit" class="btn btn_013" (click)="editOrgUnit(sideInfoItem)">
                            <img src="{{basehref}}assets/images/icons/edit_01.svg" alt="">
                        </a>
                        <a matTooltip="Close" class="btn btn_013" (click)="detailState='out'">
                            <img src="{{basehref}}assets/images/icons/close_01.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="drawer-main">
                    <h3>{{sideInfoName}}</h3>
                    <div class="prop-list" *ngFor="let prop of sideNavUnitStructure">
                        <h4>{{prop.name | translator}}</h4>
                        <p>{{sideInfoItem[prop.value]}}</p>
                    </div>
                </div>
            </div>
            <div class="drawer-wrapper" *ngSwitchCase="!!sideInfoUser">
                <div class="drawer-header">
                    <p>{{'empl_details' | translator}}</p>
                    <div class="actions-wrapper">
                        <a matTooltip="Edit" class="btn btn_013" (click)="editUserDialog(sideInfoUser)">
                            <img src="{{basehref}}assets/images/icons/edit_01.svg" alt="">
                        </a>
                        <a matTooltip="Close" class="btn btn_013" (click)="detailState='out'">
                            <img src="{{basehref}}assets/images/icons/close_01.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="drawer-main">
                    <h3>{{sideInfoName}}</h3>
                    <ng-container *ngFor="let prop of sideNavUserStructure" [ngSwitch]="prop.name">
                        <ng-container *ngSwitchCase="'personal_email'">
                            <div class="prop-list" *ngFor="let n of numSequence(5),let i=index">
                                <h4>{{'personal_email' | translator}} {{i !== 0 ? i + 1 : ''}}</h4>
                                <p>{{sideInfoUser[prop.value + (i !== 0 ? i + 1 : '')]}}</p>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="'main_role'">
                            <div class="prop-list">
                                <h4>{{prop.name | translator}}</h4>
                                <p>{{sideInfoUser[prop.value]}}</p>
                            </div>
                            <div class="prop-list" *ngFor="let role of userRoles">
                                <h4>{{'role' | translator}}</h4>
                                <p>{{role.Name_EN}}</p>
                            </div>
                        </ng-container>
                        <div class="prop-list" *ngSwitchDefault>
                            <h4>{{prop.name | translator}}</h4>
                            <p>{{sideInfoUser[prop.value]}}</p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div *ngSwitchDefault class="spinner-wrappar">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</div>