<div *ngIf="commentsProgbar" class="spinner_sm_wrappar">
  <mat-spinner class="spinner_sm"></mat-spinner>
</div>
<div *ngIf="!commentsProgbar">
  <div class = "newCommentSection">
    <div class="buttonHolder">
      <h4 (click)="openAddCommentWindow()" class = "btn_002" [ngClass]= "showAddCommentField ? 'hide-block' : 'show-block'" *ngIf="commentsEditable">Add comment</h4>
    </div>
    <div class="addComment" [style.opacity]= "showAddCommentField ? '1' : '0'" [style.height]= "showAddCommentField ? 'auto' : '0'">
      <label id="radio-group-label"><b>{{infoText}} {{replyToDate | date: 'dd/MM/yyyy HH:mm'}}</b></label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button class="radio-button" value="0" [checked]="checkedPrivate" (click)="defaltRadio(0)">Public</mat-radio-button>
          <mat-radio-button class="radio-button" value="1" [checked]="!checkedPrivate" (click)="defaltRadio(1)">Private</mat-radio-button>
        </mat-radio-group>
        <div class="replyToComment">
          <p><i>{{replyToComment}}</i></p>
        </div>
      <mat-form-field>
          <textarea 
            cdkTextareaAutosize
            cdkAutosizeMinRows="2" 
            cdkAutosizeMaxRows = "6"
            matInput [(ngModel)]="name" 
            [(ngModel)]="addCommentObj.CommentText"
            [value] = "addCommentObj.CommentText">
          </textarea>
      </mat-form-field>
      <button  id="no-button" class = "btn_004" (click)="showAddCommentField=false">Cancel</button>
      <button  id="yes-button" class = "btn_004" (click)="saveComment()">Save</button>
    </div>
  </div>
  <ng-scrollbar thumbClass="scroll_001" compact="true"  *ngIf="commentsDataBufer && commentsDataBufer.length; else emptyBlock">
      <div class="tree-holder">
        <app-comments-tree [commentsDetails]="commentsDataBufer" [commentEdit]="commentsEditable" (makeReply)="openAddReplyWindow($event)" (closeDialogBox)="getCommentsData()"></app-comments-tree>
      </div>
  </ng-scrollbar>
  <ng-template #emptyBlock>
    <h3 class="empty-block">No Comments Available</h3>
  </ng-template>
</div>
